{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<h3>{{_t 'Особые номинации'}}</h3>

{{#error}}
    <div class="alert alert-error" style="white-space: pre">{{error}}</div>
{{/error}}
{{^error}}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{{_t 'Номинация'}}</th>
                <th style="width: 30%">{{_t 'Расшифровка'}}</th>
                <th>{{_t 'Значение'}}</th>
                <th>{{_t 'Номинанты'}}</th>
            </tr>
            <tr>
                <td><b>{{_t 'Лучшая рука турнира'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за сбор руки с самым большим числом хан за турнир, независимо от стоимости/дилерства.'}}</td>
                <td>{{bestHandValue}}</td>
                <td><ul>
                    {{#bestHandPlayers}}
                        <li>{{.}}</li>
                    {{/bestHandPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Over 9000 fu'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за сбор руки с самым большим числом фу/минипойнтов за турнир.'}}</td>
                <td>{{bestFuHandValue}} фу</td>
                <td><ul>
                    {{#bestFuHandPlayers}}
                        <li>{{.}}</li>
                    {{/bestFuHandPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Задолбал!'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за максимальное число цумо в рамках одного ханчана.'}}</td>
                <td>{{bestTsumoCount}}</td>
                <td><ul>
                    {{#bestTsumoPlayers}}
                        <li>{{.}}</li>
                    {{/bestTsumoPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Бравый сапёр'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за наибольшее число набросов в рон за турнир.'}}</td>
                <td>{{bestSapperValue}}</td>
                <td><ul>
                    {{#bestSapperPlayers}}
                        <li>{{.}}</li>
                    {{/bestSapperPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Чомбо-мастер'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за получение чомбо на турнире.'}}</td>
                <td>-</td>
                <td><ul>
                    {{#chomboMasters}}
                        <li>{{_p '%s: %d чомбо' name count}}</li>
                    {{/chomboMasters}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Довакин aka The mother of dragons'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за сбор наибольшего числа якухаев за турнир.'}}</td>
                <td>-</td>
                <td><ul>
                    {{#dovakins}}
                        <li>{{_np "%s: %d якухай" "%s: %d якухаев" count name count}}</li>
                    {{/dovakins}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Восточный мастер'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за максимальное число побед на дилере за весь турнир.'}}</td>
                <td>{{_p '%d ренчанов с агари' bestDealerRenchans}}</td>
                <td><ul>
                    {{#bestDealerPlayers}}
                        <li>{{.}}</li>
                    {{/bestDealerPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Мистер Хэнки'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за максимальное число побед стоимостью в 1/30.'}}</td>
                <td>{{_p '%d самых быстрых косарей' shithandsCount}}</td>
                <td><ul>
                    {{#shithanderPlayers}}
                        <li>{{.}}</li>
                    {{/shithanderPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Якуман-мастер'}}</b></td>
                <td style="width: 30%">{{_t 'Присуждается за сбор якумана на турнире'}}</td>
                <td>-</td>
                <td><ul>
                    {{#yakumans}}
                        <li>{{.}}</li>
                    {{/yakumans}}
                </ul></td>
            </tr>
        </tbody>
    </table>
{{/error}}