{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}

<style>
  .achievements-page .paragraph-title {
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #ccc;
    color: #999;
    margin-top: 12px;
    margin-bottom: 6px;
  }

  .achievements-page .value {
    font-size: 26px;
  }
</style>

{{#error}}
    <div class="alert alert-error" style="white-space: pre">{{error}}</div>
{{/error}}
{{^error}}
<div class="achievements-page">
  {{#bestHand}}
    <h3>{{_t 'Achievement'}} - {{bestHand.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{bestHand.description}}</div>
    <div class="paragraph-title">{{_t 'Value'}}</div>
    <div class="value">{{bestHand.val.han}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#bestHand.val.names}}
        <li>{{.}}</li>
      {{/bestHand.val.names}}
    </ul></div>
  {{/bestHand}}

  {{#bestFu}}
    <h3>{{_t 'Achievement'}} - {{bestFu.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{bestFu.description}}</div>
    <div class="paragraph-title">{{_t 'Value'}}</div>
    <div class="value">{{_p '%s fu' bestFu.val.fu}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#bestFu.val.names}}
        <li>{{.}}</li>
      {{/bestFu.val.names}}
    </ul></div>
  {{/bestFu}}

  {{#bestTsumoist}}
    <h3>{{_t 'Achievement'}} - {{bestTsumoist.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{bestTsumoist.description}}</div>
    <div class="paragraph-title">{{_t 'Value'}}</div>
    <div class="value">{{bestTsumoist.val.tsumo}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#bestTsumoist.val.names}}
        <li>{{.}}</li>
      {{/bestTsumoist.val.names}}
    </ul></div>
  {{/bestTsumoist}}

  {{#dieHard}}
    <h3>{{_t 'Achievement'}} - {{dieHard.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{dieHard.description}}</div>
    <div class="paragraph-title">{{_t 'Value'}}</div>
    <div class="value">{{dieHard.val.feed}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#dieHard.val.names}}
        <li>{{.}}</li>
      {{/dieHard.val.names}}
    </ul></div>
  {{/dieHard}}

  {{#braveSapper}}
    <h3>{{_t 'Achievement'}} - {{braveSapper.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{braveSapper.description}}</div>
    <div class="paragraph-title">{{_t 'Value'}}</div>
    <div class="value">{{braveSapper.val.feed}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#braveSapper.val.names}}
        <li>{{.}}</li>
      {{/braveSapper.val.names}}
    </ul></div>
  {{/braveSapper}}

  {{#dovakins}}
    <h3>{{_t 'Achievement'}} - {{dovakins.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{dovakins.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#dovakins.val}}
        <li>{{_np "%s: %d yakuhai" "%s: %d yakuhais" count name count}}</li>
      {{/dovakins.val}}
    </ul></div>
  {{/dovakins}}

  {{#bestDealer}}
    <h3>{{_t 'Achievement'}} - {{bestDealer.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{bestDealer.description}}</div>
    <div class="paragraph-title">{{_t 'Value'}}</div>
    <div class="value">{{_np '%d win' '%d wins' bestDealer.val.bestWinCount bestDealer.val.bestWinCount}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#bestDealer.val.names}}
        <li>{{.}}</li>
      {{/bestDealer.val.names}}
    </ul></div>
  {{/bestDealer}}

  {{#shithander}}
    <h3>{{_t 'Achievement'}} - {{shithander.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{shithander.description}}</div>
    <div class="paragraph-title">{{_t 'Value'}}</div>
    <div class="value">{{_np '%d quickest hand' '%d quickest hands' shithander.val.handsCount shithander.val.handsCount}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#shithander.val.names}}
        <li>{{.}}</li>
      {{/shithander.val.names}}
    </ul></div>
  {{/shithander}}

  {{#yakumans}}
    <h3>{{_t 'Achievement'}} - {{yakumans.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{yakumans.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#yakumans.val}}
        <li>{{name}}, {{yaku}}</li>
      {{/yakumans.val}}
    </ul></div>
  {{/yakumans}}

  {{#impossibleWait}}
    <h3>{{_t 'Achievement'}} - {{impossibleWait.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{impossibleWait.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#impossibleWait.val}}
        <li>{{name}}:
          {{#hand.fu}}{{_p '%s han, %s fu' hand.han hand.fu}}{{/hand.fu}}
          {{^hand.fu}}{{_p '%s han' hand.han}}{{/hand.fu}}
        </li>
      {{/impossibleWait.val}}
    </ul></div>
  {{/impossibleWait}}

  {{#honoredDonor}}
    <h3>{{_t 'Achievement'}} - {{honoredDonor.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{honoredDonor.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#honoredDonor.val}}
        <li>{{name}}: {{_np '%s bet' '%s bets' count count}}</li>
      {{/honoredDonor.val}}
    </ul></div>
  {{/honoredDonor}}

  {{#justAsPlanned}}
    <h3>{{_t 'Achievement'}} - {{justAsPlanned.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{justAsPlanned.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#justAsPlanned.val}}
        <li>{{name}}: {{_np '%s ippatsu' '%s ippatsu' count count}}</li>
      {{/justAsPlanned.val}}
    </ul></div>
  {{/justAsPlanned}}

  {{#carefulPlanning}}
    <h3>{{_t 'Achievement'}} - {{carefulPlanning.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{carefulPlanning.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#carefulPlanning.val}}
        <li>{{name}}: {{_p '%s points' score}}</li>
      {{/carefulPlanning.val}}
    </ul></div>
  {{/carefulPlanning}}

  {{#doraLord}}
    <h3>{{_t 'Achievement'}} - {{doraLord.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{doraLord.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#doraLord.val}}
        <li>{{name}}: {{_p '%s dora' count}}</li>
      {{/doraLord.val}}
    </ul></div>
  {{/doraLord}}

  {{#catchEmAll}}
    <h3>{{_t 'Achievement'}} - {{catchEmAll.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{catchEmAll.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#catchEmAll.val}}
        <li>{{name}}: {{_p '%s yaku' count}}</li>
      {{/catchEmAll.val}}
    </ul></div>
  {{/catchEmAll}}

  {{#favoriteAsapinApprentice}}
    <h3>{{_t 'Achievement'}} - {{favoriteAsapinApprentice.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{favoriteAsapinApprentice.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#favoriteAsapinApprentice.val}}
        <li>{{name}}: {{_p '%s points' score}}</li>
      {{/favoriteAsapinApprentice.val}}
    </ul></div>
  {{/favoriteAsapinApprentice}}

  {{#andYourRiichiBet}}
    <h3>{{_t 'Achievement'}} - {{andYourRiichiBet.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{andYourRiichiBet.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#andYourRiichiBet.val}}
        <li>{{name}}: {{_np '%s riichi bet' '%s riichi bets' count count}}</li>
      {{/andYourRiichiBet.val}}
    </ul></div>
  {{/andYourRiichiBet}}

  {{#covetousKnight}}
    <h3>{{_t 'Achievement'}} - {{covetousKnight.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{covetousKnight.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#covetousKnight.val}}
        <li>{{name}}: {{_np '%d riichi bet' '%d riichi bets' count count}}</li>
      {{/covetousKnight.val}}
    </ul></div>
  {{/covetousKnight}}

  {{#ninja}}
    <h3>{{_t 'Achievement'}} - {{ninja.name}}</h3>
    <div class="paragraph-title">{{_t 'Description'}}</div>
    <div class="description">{{ninja.description}}</div>
    <div class="paragraph-title">{{_t 'Nominees'}}</div>
    <div class="nominees"><ul>
      {{#ninja.val}}
        <li>{{name}}: {{_np '%d win' '%d wins' count count}}</li>
      {{/ninja.val}}
    </ul></div>
  {{/ninja}}
</div>
{{/error}}
