{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<h3>{{_t 'Achievements'}}</h3>

{{#error}}
    <div class="alert alert-error" style="white-space: pre">{{error}}</div>
{{/error}}
{{^error}}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{{_t 'Achievement'}}</th>
                <th style="width: 30%">{{_t 'Description'}}</th>
                <th>{{_t 'Value'}}</th>
                <th>{{_t 'Nominees'}}</th>
            </tr>
            <tr>
                <td><b>{{_t 'Best hand'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting the hand with biggest han count (independent of cost).'}}</td>
                <td>{{bestHandValue}}</td>
                <td><ul>
                    {{#bestHandPlayers}}
                        <li>{{.}}</li>
                    {{/bestHandPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Over 9000 fu'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting the hand with biggest minipoints (fu) count.'}}</td>
                <td>{{_p '%s fu' bestFuHandValue}}</td>
                <td><ul>
                    {{#bestFuHandPlayers}}
                        <li>{{.}}</li>
                    {{/bestFuHandPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'I saw them dancing'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting the most of tsumo hands during single game.'}}</td>
                <td>{{bestTsumoCount}}</td>
                <td><ul>
                    {{#bestTsumoPlayers}}
                        <li>{{.}}</li>
                    {{/bestTsumoPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Die Hard' }}</b></td>
                <td style="width: 30%">{{_t 'Given for smallest count of feeding into ron during the tournament.'}}</td>
                <td>{{dieHardValue}}</td>
                <td><ul>
                    {{#dieHardPlayers}}
                        <li>{{.}}</li>
                    {{/dieHardPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Brave minesweeper'}}</b></td>
                <td style="width: 30%">{{_t 'Given for largest count of feeding into ron during the tournament.'}}</td>
                <td>{{bestSapperValue}}</td>
                <td><ul>
                    {{#bestSapperPlayers}}
                        <li>{{.}}</li>
                    {{/bestSapperPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Guest of honors'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting the most of yakuhais during the tournament.'}}</td>
                <td>-</td>
                <td><ul>
                    {{#dovakins}}
                        <li>{{_np "%s: %d yakuhai" "%s: %d yakuhais" count name count}}</li>
                    {{/dovakins}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'The great dealer'}}</b></td>
                <td style="width: 30%">{{_t 'Given for largest count of dealer wins during the tournament.'}}</td>
                <td>{{_np '%d win' '%d wins' bestDealerRenchans bestDealerRenchans}}</td>
                <td><ul>
                    {{#bestDealerPlayers}}
                        <li>{{.}}</li>
                    {{/bestDealerPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'The 1k Flash'}}</b></td>
                <td style="width: 30%">{{_t 'Given for the most of 1/30 wins during tournament.'}}</td>
                <td>{{_np '%d quickest hand' '%d quickest hands' shithandsCount shithandsCount}}</td>
                <td><ul>
                    {{#shithanderPlayers}}
                        <li>{{.}}</li>
                    {{/shithanderPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Jewelry included'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting a yakuman during tournament.'}}</td>
                <td>-</td>
                <td><ul>
                    {{#yakumans}}
                        <li>{{.}}</li>
                    {{/yakumans}}
                </ul></td>
            </tr>
            <tr>
              <td><b>{{_t "This can't be your wait"}}</b></td>
              <td style="width: 30%">{{_t 'Given for feeding into largest hand during tournament (but not while in riichi).'}}</td>
              <td>-</td>
              <td><ul>
                {{#impossibleWait}}
                  <li>{{name}}:
                    {{#hand.fu}}{{_p '%s han, %s fu' hand.han hand.fu}}{{/hand.fu}}
                    {{^hand.fu}}{{_p '%s han' hand.han}}{{/hand.fu}}
                  </li>
                {{/impossibleWait}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'Honored donor'}}</b></td>
              <td style="width: 30%">{{_t 'Given for losing largest amount of points as riichi bets.'}}</td>
              <td>-</td>
              <td><ul>
                {{#honoredDonor}}
                  <li>{{name}}: {{_np '%s bet' '%s bets' count count}}</li>
                {{/honoredDonor}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'Just as planned'}}</b></td>
              <td style="width: 30%">{{_t 'Given for getting largest number of ippatsu during tournament.'}}</td>
              <td>-</td>
              <td><ul>
                {{#justAsPlanned}}
                  <li>{{name}}: {{_np '%s ippatsu' '%s ippatsu' count count}}</li>
                {{/justAsPlanned}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'Careful planning'}}</b></td>
              <td style="width: 30%">{{_t 'Given for the smallest average cost of opponents hand that player has dealt.'}}</td>
              <td>-</td>
              <td><ul>
                {{#carefulPlanning}}
                  <li>{{name}}: {{_p '%s points' score}}</li>
                {{/carefulPlanning}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'Dora lord'}}</b></td>
              <td style="width: 30%">{{_t 'Given for the largest average count of dora in player\'s hand.'}}</td>
              <td>-</td>
              <td><ul>
                {{#doraLord}}
                  <li>{{name}}: {{_p '%s dora' count}}</li>
                {{/doraLord}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'Gotta Catch\'Em All'}}</b></td>
              <td style="width: 30%">{{_t 'Given for the largest amount of unique yaku collected during the tournament.'}}</td>
              <td>-</td>
              <td><ul>
                {{#catchEmAll}}
                  <li>{{name}}: {{_p '%s yaku' count}}</li>
                {{/catchEmAll}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'The favorite apprentice of ASAPIN'}}</b></td>
              <td style="width: 30%">{{_t 'Given for the largest amount of points received as ryukoku payments.'}}</td>
              <td>-</td>
              <td><ul>
                {{#favoriteAsapinApprentice}}
                  <li>{{name}}: {{_p '%s points' score}}</li>
                {{/favoriteAsapinApprentice}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'And your riichi bet, please'}}</b></td>
              <td style="width: 30%">{{_t 'Given for collecting the largest amount of other players\' riichi bets during the tournament.'}}</td>
              <td>-</td>
              <td><ul>
                {{#andYourRiichiBet}}
                  <li>{{name}}: {{_np '%s riichi bet' '%s riichi bets' count count}}</li>
                {{/andYourRiichiBet}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'The Covetous Knight'}}</b></td>
              <td style="width: 30%">{{_t 'Given for losing the smallest number of riichi bets.'}}</td>
              <td>-</td>
              <td><ul>
                {{#covetousKnight}}
                    <li>{{name}}: {{_np '%d riichi bet' '%d riichi bets' count count}}</li>
                {{/covetousKnight}}
              </ul></td>
            </tr>
            <tr>
              <td><b>{{_t 'Ninja'}}</b></td>
              <td style="width: 30%">{{_t 'Given for winning the largest number of hands with damaten.'}}</td>
              <td>-</td>
              <td><ul>
                {{#ninja}}
                    <li>{{name}}: {{_np '%d win' '%d wins' count count}}</li>
                {{/ninja}}
              </ul></td>
            </tr>
        </tbody>
    </table>
{{/error}}
