{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<h3>{{_t 'Achievements'}}</h3>

{{#error}}
    <div class="alert alert-error" style="white-space: pre">{{error}}</div>
{{/error}}
{{^error}}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{{_t 'Achievement'}}</th>
                <th style="width: 30%">{{_t 'Description'}}</th>
                <th>{{_t 'Value'}}</th>
                <th>{{_t 'Nominees'}}</th>
            </tr>
            <tr>
                <td><b>{{_t 'Best hand'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting the hand with biggest han count (independent of cost).'}}</td>
                <td>{{bestHandValue}}</td>
                <td><ul>
                    {{#bestHandPlayers}}
                        <li>{{.}}</li>
                    {{/bestHandPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Over 9000 fu'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting the hand with biggest minipoints (fu) count.'}}</td>
                <td>{{_p '%s fu' bestFuHandValue}}</td>
                <td><ul>
                    {{#bestFuHandPlayers}}
                        <li>{{.}}</li>
                    {{/bestFuHandPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'I saw them dancing'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting the most of tsumo hands during single game.'}}</td>
                <td>{{bestTsumoCount}}</td>
                <td><ul>
                    {{#bestTsumoPlayers}}
                        <li>{{.}}</li>
                    {{/bestTsumoPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Brave minesweeper'}}</b></td>
                <td style="width: 30%">{{_t 'Given for largest count of feeding into ron during the tournament.'}}</td>
                <td>{{bestSapperValue}}</td>
                <td><ul>
                    {{#bestSapperPlayers}}
                        <li>{{.}}</li>
                    {{/bestSapperPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Chombo master'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting a chombo during a tournament.'}}</td>
                <td>-</td>
                <td><ul>
                    {{#chomboMasters}}
                        <li>{{_np '%s: %d chombo penalty' '%s: %d chombo penalties' name count}}</li>
                    {{/chomboMasters}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Guest of honors'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting the most of yakuhais during the tournament.'}}</td>
                <td>-</td>
                <td><ul>
                    {{#dovakins}}
                        <li>{{_np "%s: %d yakuhai" "%s: %d yakuhais" count name count}}</li>
                    {{/dovakins}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'The great dealer'}}</b></td>
                <td style="width: 30%">{{_t 'Given for largest count of dealer wins during the tournament.'}}</td>
                <td>{{_np '%d win' '%d wins' bestDealerRenchans}}</td>
                <td><ul>
                    {{#bestDealerPlayers}}
                        <li>{{.}}</li>
                    {{/bestDealerPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'The 1k Flash'}}</b></td>
                <td style="width: 30%">{{_t 'Given for the most of 1/30 wins during tournament.'}}</td>
                <td>{{_np '%d quickest hand' '%d quickest hands' shithandsCount}}</td>
                <td><ul>
                    {{#shithanderPlayers}}
                        <li>{{.}}</li>
                    {{/shithanderPlayers}}
                </ul></td>
            </tr>
            <tr>
                <td><b>{{_t 'Jewelry included'}}</b></td>
                <td style="width: 30%">{{_t 'Given for collecting a yakuman during tournament.'}}</td>
                <td>-</td>
                <td><ul>
                    {{#yakumans}}
                        <li>{{.}}</li>
                    {{/yakumans}}
                </ul></td>
            </tr>
        </tbody>
    </table>
{{/error}}