{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .actionButton {
        font-size: 16px;
        font-weight: bold;
    }
</style>
<script>
    function disableTemporarily(what) {
        $(what).attr('disabled', true);
        var timer = window.setTimeout(function() {
            $(what).attr('disabled', false);
            window.clearTimeout(timer);
        }, 3000);
        $(what).parent('form').submit();
        return true;
    }
    function cancelRoundConfirmation(roundInfo) {
        return window.confirm('{{_t 'Confirm round cancellation: '}}' + roundInfo);
    }
    function definalizeConfirmation() {
      return window.confirm('{{_t 'Confirm game definalization. Note that you will need to cancel last round by hand after that.'}}');
    }
    function cancelGameConfirmation(list) {
      return window.confirm('{{_t 'Confirm game cancellation: '}}' + list);
    }
</script>

<hr/>
<h3>{{_t 'Tables state:'}}</h3>
{{#isAggregated}}
    {{#error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/error}}
{{/isAggregated}}
{{^isAggregated}}
    {{#reason}}
        <div class="alert alert-error">{{reason}}</div>
    {{/reason}}
    <table class="table table-bordered">
        {{#tables}}
            <tr>
                <td>#{{table_index}}</td>
                {{#players}}
                    <td>{{display_name}}</td>
                {{/players}}
                <td><span class="badge {{#finished}}badge-success{{/finished}}">{{status}}</span></td>
            </tr>
            <tr>
                <td colspan="5" style="font-weight: bold; font-size: 16px">
                    {{_t 'Last played round:'}}
                    {{^last_round}}{{_t '(no rounds are played yet)'}}{{/last_round}}
                    {{#last_round}}
                        {{last_round}}
                        {{#a
                            href="/games/dropLastRound/{hash}/"
                            class="btn btn-large btn-warning actionButton"
                            onclick="return cancelRoundConfirmation('{roundInfo}')"
                        }}{{_t 'Cancel last played round'}}{{/a}}
                    {{/last_round}}
                </td>
                <td>
                    {{^last_round}}{{!-- Mistake proofing: show cancel game button only if there are no completed rounds --}}
                    {{#gameIsCancellable}}
                        {{#a
                            href="/games/cancelGame/{hash}/"
                            class="btn btn-large btn-danger actionButton"
                            onclick="return cancelGameConfirmation('{playersFlatList}')"
                        }}{{_t 'Cancel game'}}{{/a}}
                    {{/gameIsCancellable}}
                    {{/last_round}}

                    {{#may_definalize}}
                        {{#a
                            href="/games/definalize/{hash}/"
                            class="btn btn-large btn-warning actionButton"
                            onclick="return definalizeConfirmation()"
                        }}{{_t 'Definalize game'}}{{/a}}
                    {{/may_definalize}}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-size: 16px">
                    {{_t 'Penalties:'}}
                </td>
                <td colspan="5">
                    <ul>
                        {{#penalties}}
                            <li>{{_p '%s - %s points of penalty. Reason: %s' who amount reason}}</li>
                        {{/penalties}}
                    </ul>
                </td>
            </tr>
        {{/tables}}
    </table>
{{/isAggregated}}
