{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Rheda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    {{{js "/assets/js/jquery.js"}}}
    {{{css "/assets/css/bootstrap.css"}}}
    {{{css "/assets/styles.css"}}}
    {{{css "/assets/css/jquery.jqplot.min.css"}}}

    <!-- Yandex.Metrika counter --><script type="text/javascript">(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})(window,document,"script","https://mc.yandex.ru/metrika/tag.js","ym");ym(51864341,"init",{id:51864341,clickmap:true,trackLinks:true,accurateTrackBounce:true});</script><noscript><div><img src="https://mc.yandex.ru/watch/51864341" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

    <link rel="shortcut icon" href="/assets/ico/rhedaico.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/rhedahires.png">
</head>

<body>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-brand">
        {{#a class='nav-link' href='/'}}{{eventTitle}}{{/a}}
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">{{#a class='nav-link' href='/last/'}}{{_t 'Recent games'}}{{/a}}</li>
            <li class="nav-item">{{#a class='nav-link' href='/stat/'}}{{_t 'Rating table'}}{{/a}}</li>
            {{^isAggregated}}
                {{#isOnline}}
                  {{^hideAddReplayButton}}
                    <li class="nav-item">{{#a class='nav-link' href='/add-online/'}}{{_t 'Add online game' }}{{/a}}</li>
                  {{/hideAddReplayButton}}
                {{/isOnline}}
            {{/isAggregated}}
            {{#isLoggedIn}}
                <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       id="navbarDropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >{{_t 'Admin actions'}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {{^isAggregated}}
                            {{^isOnline}}
                                {{#isTournament}}
                                    {{#a class='dropdown-item' href='/tourn/'}}{{_t 'Tournament control panel'}}{{/a}}
                                {{/isTournament}}
                                {{^isTournament}}
                                    {{#a class='dropdown-item' href='/games/'}}{{_t 'Games control panel'}}{{/a}}
                                {{/isTournament}}
                                {{#usePenalty}}
                                    {{#a class='dropdown-item' href='/penalties/'}}{{_t 'Penalties'}}{{/a}}
                                {{/usePenalty}}
                            {{/isOnline}}
                            {{#a class='dropdown-item' href='/enroll/'}}{{_t 'Add player'}}{{/a}}
                            {{#a class='dropdown-item' href='/reg/'}}{{_t 'Manage players'}}{{/a}}
                            {{#isPrescripted}}
                                {{#a class='dropdown-item' href='/prescript'}}{{_t 'Predefined seating'}}{{/a}}
                            {{/isPrescripted}}
                        {{/isAggregated}}
                        {{#a class='dropdown-item' href='/achievements/'}}{{_t 'Achievements'}}{{/a}}
                    </div>
                </li>
            {{/isLoggedIn}}
            {{^isAggregated}}
                {{#useTimer}}
                    <li class="nav-item">{{#a class='nav-link' href='/timer/' target='_blank'}}{{_t 'Timer & seating'}}{{/a}}</li>
                {{/useTimer}}
            {{/isAggregated}}
            {{^isLoggedIn}}
                <li class="nav-item">
                    {{#a class='nav-link' href='/login/'}}{{_t 'Login'}}{{/a}}
                </li>
            {{/isLoggedIn}}
            <li class="nav-item dropdown language-dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{> partials/LangIcon i18n=1 width=40 style="position: absolute; top: 0"}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="?l=en">{{> partials/LangIcon en=1 width=24}}</a>
                    <a class="dropdown-item" href="?l=ru">{{> partials/LangIcon ru=1 width=24}}</a>
                    <a class="dropdown-item" href="?l=de">{{> partials/LangIcon de=1 width=24}}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {{{content}}}
</div>

{{{js "/assets/js/bootstrap.bundle.js"}}}
{{{js "/assets/js/jquery.jqplot.min.js"}}}
{{{js "/assets/js/jqplot.categoryAxisRenderer.min.js"}}}
{{{js "/assets/js/jqplot.barRenderer.min.js"}}}
{{{js "/assets/js/jqplot.highlighter.js"}}}
{{{js "/assets/js/jqplot.cursor.js"}}}
{{{js "/assets/bundle.js"}}}

</body>
</html>
