{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Rheda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link href="/assets/css/bootstrap.css?1" rel="stylesheet">
    <script src="/assets/js/jquery.js?1"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/assets/js/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/assets/js/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/assets/js/jqplot.highlighter.js"></script>
    <script type="text/javascript" src="/assets/js/jqplot.cursor.js"></script>
    <script type="text/javascript" src="/assets/bundle.js?2"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.jqplot.min.css"/>
    <link rel="shortcut icon" href="/assets/ico/rhedaico.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/rhedahires.png">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css?1">
</head>

<body>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-brand">
        {{#a class='nav-link' href='/'}}{{eventTitle}}{{/a}}
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">{{#a class='nav-link' href='/last/'}}{{_t 'Recent games'}}{{/a}}</li>
            <li class="nav-item">{{#a class='nav-link' href='/stat/'}}{{_t 'Rating table'}}{{/a}}</li>
            {{#isOnline}}
                <li class="nav-item">{{#a class='nav-link' href='/add-online/'}}{{_t 'Add online game' }}{{/a}}</li>
            {{/isOnline}}
            {{#isLoggedIn}}
                <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       id="navbarDropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >{{_t 'Admin actions'}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {{^isOnline}}
                            {{#isTournament}}
                                {{#a class='dropdown-item' href='/tourn/'}}{{_t 'Tournament control panel'}}{{/a}}
                            {{/isTournament}}
                            {{^isTournament}}
                                {{#a class='dropdown-item' href='/games/'}}{{_t 'Games control panel'}}{{/a}}
                            {{/isTournament}}
                            {{#usePenalty}}
                                {{#a class='dropdown-item' href='/penalties/'}}{{_t 'Penalties'}}{{/a}}
                            {{/usePenalty}}
                        {{/isOnline}}
                        {{#a class='dropdown-item' href='/enroll/'}}{{_t 'Add player'}}{{/a}}
                        {{#a class='dropdown-item' href='/reg/'}}{{_t 'Manage players'}}{{/a}}
                        {{#a class='dropdown-item' href='/achievements/'}}{{_t 'Achievements'}}{{/a}}
                    </div>
                </li>
            {{/isLoggedIn}}
            {{#useTimer}}
                <li class="nav-item">{{#a class='nav-link' href='/timer/' target='_blank'}}{{_t 'Timer & seating'}}{{/a}}</li>
            {{/useTimer}}
            {{^isLoggedIn}}
                <li class="nav-item">
                    {{#a class='nav-link' href='/login/'}}{{_t 'Login'}}{{/a}}
                </li>
            {{/isLoggedIn}}
        </ul>
    </div>
    <div class="dropdown language-dropdown">
      <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language
      </span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="?l=en">🇬🇧 English</a>
        <a class="dropdown-item" href="?l=ru">🇷🇺 Russian</a>
        <a class="dropdown-item" href="?l=de">🇩🇪 German</a>
      </div>
    </div>
</nav>
<div class="container">
    {{{content}}}
</div>

</body>
</html>
