{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Rheda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    {{{js "/assets/js/jquery.js"}}}
    {{{css "/assets/css/bootstrap.css"}}}
    {{{css "/assets/styles.css"}}}
    {{{css "/assets/mobile-overrides.css"}}}

    {{#statDomain}}
      <script async defer data-website-id="{{analyticsSiteId}}" src="https://{{statDomain}}/u.js"></script>
    {{/statDomain}}

    <link rel="shortcut icon" href="/assets/ico/rhedaico.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/rhedahires.png">
</head>

<body>
<nav class="navbar fixed-top navbar-expand-sm navbar-collapse navbar-dark bg-dark">
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false"
            aria-label="">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        {{!*
            Note: in-event links should use {#a} to put proper event id into
            the link automatically, but global links should use <a>.
        *}}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class='nav-link' target='_blank' href='/' title='{{_t 'To event list'}}'>
                    <img height='24px' src='/assets/ico/rhedaico.png' />
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link' target='_blank' href='{{tyrUrl}}'>{{_t 'Open assistant'}}</a>
            </li>
            {{#eventSelected}}
                <li class="nav-item">
                    {{#a class='nav-link' href='/last'}}{{_t 'Recent games'}}{{/a}}
                </li>
                <li class="nav-item">
                    {{#a class='nav-link' href='/stat'}}{{_t 'Rating table'}}{{/a}}
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navigationMenuButton"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{_t 'Links' }}
                    </a>
                    <div class="dropdown-menu dropdown-menu" aria-labelledby="navigationMenuButton">
                        {{#isTeam}}
                            {{#a class='dropdown-item' href='/stat/team'}}{{_t 'Team table'}}{{/a}}
                        {{/isTeam}}
                        {{^isAggregated}}
                            {{#isOnline}}
                                {{^hideAddReplayButton}}
                                    {{#a class='dropdown-item' href='/add-online'}}{{_t 'Add online game' }}{{/a}}
                                {{/hideAddReplayButton}}
                            {{/isOnline}}
                            {{#useTimer}}
                                {{#a class='dropdown-item' href='/timer' target='_blank'}}{{_t 'Timer & seating'}}{{/a}}
                            {{/useTimer}}
                            {{#a class='dropdown-item' href='/achievements'}}{{_t 'Achievements'}}{{/a}}
                            {{#userHasAdminRights}}
                                <a class='dropdown-item' target="_blank" href="{{forsetiUrl}}/event/{{eventId}}/games">{{_t 'Admin panel'}}</a>
                            {{/userHasAdminRights}}
                        {{/isAggregated}}
                    </div>
                </li>
            {{/eventSelected}}
        </ul>
        <ul class="navbar-nav justify-content-end">
            {{#isLoggedIn}}
                <li class="nav-item">
                    <a target="_blank" href="{{forsetiUrl}}/ownedEvents"
                       class="nav-link" title='{{_t 'Personal area'}}'
                    >{{currentPerson.title}}</a>
                </li>
            {{/isLoggedIn}}
            {{^isLoggedIn}}
                <li class="nav-item">
                    <a target="_blank" href="{{forsetiUrl}}/profile/login"
                       class="nav-link"
                    >{{_t 'Personal area'}}</a>
                </li>
            {{/isLoggedIn}}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{> partials/LangIcon i18n=1 width=40 style="position: absolute; top: 0"}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="?l=en">{{> partials/LangIcon en=1 width=24}}</a>
                    <a class="dropdown-item" href="?l=ru">{{> partials/LangIcon ru=1 width=24}}</a>
                    <a class="dropdown-item" href="?l=de">{{> partials/LangIcon de=1 width=24}}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {{{content}}}
</div>

{{{js "/assets/js/bootstrap.bundle.js"}}}
{{{js "/assets/bundle.js"}}}
{{{js "/assets/js/chart.min.js"}}}

</body>
</html>
