{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}

<style>
    .rule-row {
        padding: 6px 0;
    }
    .rule-row:nth-of-type(even) {
        background-color: rgb(243, 243, 243);
    }
    .col-1 {
        padding-left: 14px;
        padding-right: 0;
    }
    .player-row {
        padding: 6px 0;
    }
    .player-row:nth-of-type(even) {
        background-color: rgb(238, 238, 238);
    }
</style>

{{#isAggregated}}
  <h3>{{_t 'Aggregated event'}}</h3>
  <hr>
  {{#eventsInfo}}
    {{title}}
    <br />
    {{_t 'Event owners: '}}
    <ul>{{#admins}}<li>{{#a href='/user/{id}/'}}{{name}}{{/a}}</li>{{/admins}}</ul>
    <br>
    {{description}}
    <hr>
  {{/eventsInfo}}
{{/isAggregated}}
{{^isAggregated}}
  <h3>{{title}}{{#finished}} <b class="badge badge-danger">{{_t 'Finished'}}</b>{{/finished}}</h3>
  <br />
  {{_t 'Event owners: '}}
  <ul>{{#admins}}<li>{{#a href='/user/{id}/'}}{{name}}{{/a}}</li>{{/admins}}</ul>
  {{#description}}
    <hr>
    {{{description}}}
  {{/description}}
  {{#isLoggedIn}}
  <br/><br/>
  <div id="Rules">
    <div class="card">
      <div id="RulesHeading">
        <span class="mb-0">
          <button class="btn btn-link collapsed"
                  data-toggle="collapse" data-target="#RulesOverview"
                  aria-expanded="false" aria-controls="RulesOverview">
            {{_t 'Rules overview'}}
          </button>
        </span>
      </div>

      <div id="RulesOverview" class="container collapse" aria-labelledby="RulesHeading" data-parent="#Rules">
      {{> partials/RulesOverview }}
      </div>
    </div>
  </div>
  {{/isLoggedIn}}
  <br>
{{/isAggregated}}

{{#hasData}}
    <div class="row mobile-results-header-hidden" style="font-weight: bold; padding: 10px 0">
        <div class="col-1">#</div>
        <div class="col-5" title="{{_t 'Player'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
        </div>
        <div class="col-3" title="{{_t 'Points of best series'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
            </svg>
        </div>
        <div class="col-3" title="{{_t 'Points of last series'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
            </svg>
        </div>
    </div>
    {{#data}}
        <div class="player-row">
            <div class="row">
                <div class="col-1">{{_index}}</div>
                <div class="col-5">
                    {{#player}}
                        {{#a href='/user/{id}/'}}{{title}}{{/a}}
                    {{/player}}
                </div>
                <div class="col-3">{{best_series_scores}}</div>
                <div class="col-3">{{current_series_scores}}</div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    {{_t 'Best series'}}
                    {{#best_series}}
                        {{#a href='/game/{hash}/'}}{{place}}{{/a}}
                    {{/best_series}}
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    {{_t 'Last series'}}
                    {{#current_series}}
                        {{#a href='/game/{hash}/'}}{{place}}{{/a}}
                    {{/current_series}}
                </div>
            </div>
        </div>
    {{/data}}
{{/hasData}}
