{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}

<h3>{{title}}</h3>
{{#description}}
<hr>
    {{{description}}}
{{/description}}
<br>

{{#hasData}}
    <table class='table table-striped table-condensed'>
        <tr>
            <th>#</th>
            <th>{{_t 'Игрок'}}</th>
            <th>{{_t 'Лучшая серия'}}</th>
            <th>{{_t 'Очки за лучшую серию'}}</th>
            <th>{{_t 'Текущая серия'}}</th>
            <th>{{_t 'Очки за текущую серию'}}</th>
        </tr>
        {{#data}}
            <tr>
                <td>{{_index}}</td>
                <td>
                    {{#player}}
                        {{#a href='/user/{id}/'}}{{display_name}}{{/a}}
                    {{/player}}
                </td>
                <td>
                    {{#best_series}}
                        {{#a href='/game/{hash}/'}}{{place}}{{/a}}
                    {{/best_series}}
                </td>
                <td>{{best_series_scores}}</td>
                <td>
                    {{#current_series}}
                        {{#a href='/game/{hash}/'}}{{place}}{{/a}}
                    {{/current_series}}
                </td>
                <td>{{current_series_scores}}</td>
            </tr>
        {{/data}}
    </table>
{{/hasData}}