{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}

{{^hasData}}
    <style>
        .big-greeting {
            text-align: center;
        }
    </style>

    <h2 class="header-title">{{_t 'Statistics'}}</h2>
    <div class="main-content big-greeting">
        {{_t 'Welcome to game statistics system.'}}
        {{#a href='/last/'}}{{_t 'Click here to start'}}{{/a}}.
        <br/><br/>
        <hr/>
        <br/><br/>
        {{_t 'You are viewing the clipped statistics for mobile devices.'}}
    </div>
{{/hasData}}

{{#hasData}}
    <style>
        td {
            padding: 10px;
            border: 1px solid #dddddd;
        }
        .highlighted {
            background-color: #ddd;
        }
        table {
            border-collapse: collapse;
            margin: 0 auto
        }
    </style>

    <h2 class="header-title">{{title}}</h2>
    <div class="main-content">
        <table>
            {{#data}}
                <tr class="highlighted">
                    <td>{{_p 'Player #%d' _index}}</td>
                    <td>
                        {{#player}}
                            {{#a href='/user/{id}/'}}{{display_name}}{{/a}}
                        {{/player}}
                    </td>
                </tr>
                <tr>
                    <td>{{_t 'Best series:'}}</td>
                    <td>
                        {{#best_series}}
                            {{#a href='/game/{hash}/'}}{{place}}{{/a}}
                        {{/best_series}}
                    </td>
                </tr>
                <tr>
                    <td>{{_t 'Points:'}}</td>
                    <td>{{best_series_scores}}</td>
                </tr>
                <tr>
                    <td>{{_t 'Last series:'}}</td>
                    <td>
                        {{#current_series}}
                            {{#a href='/game/{hash}/'}}{{place}}{{/a}}
                        {{/current_series}}
                    </td>
                </tr>
                <tr>
                    <td>{{_t 'Points:'}}</td>
                    <td>{{current_series_scores}}</td>
                </tr>
            {{/data}}
        </table>
    </div>
{{/hasData}}