{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    table {
        width: 100%;
    }
    td {
        font-size: 16px;
    }
    td.cn {
        text-align: center;
    }
    th {
        padding-bottom: 20px;
    }

    tr {
        height: 40px;
        border-top: 1px solid #ddd;
    }

    .table-striped tr:nth-child(even) {
      background-color: #ddd;
    }

    .no-stripped {
        table-layout: fixed;
    }

    .no-stripped td {
        width: 50%;
    }

    .no-stripped tr {
      background-color: inherit !important;
    }

    .badge {
        display: inline-block;
        color: #eee;
        background-color: #555;
        padding: 1px 4px;
        border-radius: 20%;
    }

    .badge.danger {
        background-color: #800;
    }

    .badge.success {
        background-color: #070;
    }
</style>

<h2 class="header-title">{{_t 'Team table'}}</h2>
<br>
{{#error}}
    <div class="alert alert-error">{{error}}</div>
{{/error}}

{{#hideResults}}
    <p>{{_t 'Rating table has been hidden by tournament administrator'}}</p>
{{/hideResults}}

{{#showAdminWarning}}
    <div class="alert alert-success">
        <p>{{_t 'These results are visible only for tournament administrator'}}</p>
    </div>
{{/showAdminWarning}}

{{^hideResults}}
<div class="main-content">
    <table class="table table-striped table-condensed">
        <tr>
            <th>#</th>
            <th>{{_t 'Team'}}</th>
            <th>{{_t 'Pts'}}</th>
            <th>{{_t 'Players'}}</th>
        </tr>
        {{#each teams}}
            <tr>
              <td class="cn">{{_index}}</td>
              <td class="cn"><b>{{this.team_name}}</b></td>
              <td class="cn">
                <span class="badge
                  {{#this.winner_zone}}success{{/this.winner_zone}}
                  {{^this.winner_zone}}danger{{/this.winner_zone}}
                ">{{this.total_rating}}</span>
              </td>
              <td>
                  <table class="no-stripped table">
                      <col style="width: 50%" span="2" />

                      {{#each this.players}}
                        <tr>
                            <td class="cn">
                                <nobr>{{#a href='/user/{id}/'}}{{this.short_name}}{{/a}}</nobr>
                            </td>
                            <td class="cn">
                              <span class="badge
                                {{#this.winner_zone}}success{{/this.winner_zone}}
                                {{^this.winner_zone}}danger{{/this.winner_zone}}
                              ">{{this.rating}}</span>
                            </td>
                        </tr>
                      {{/each}}
                  </table>
              </td>
            </tr>
        {{/each}}
    </table>
</div>
{{/hideResults}}
