{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .event-row {
        padding: 6px 0;
    }
    .event-row:nth-of-type(even) {
        background-color: rgb(238, 238, 238);
    }
</style>

<h3>{{_t 'Rheda: mahjong statistic system'}}</h3>
<hr/>

{{#events}}
    <div class="row event-row">
        <div class="col-4">{{#a href='/' id='{id}'}}{{title}}{{/a}} ({{type}})</div>
        <div class="col-8">{{description}}</div>
    </div>
{{/events}}

<ul class="pagination">
    {{#hasPreviousButton}}
        <li class="page-item"><a class='page-link' href='/page/{{prevPage}}'>{{_t 'Later'}}</a></li>
    {{/hasPreviousButton}}

    {{#hasNextButton}}
        <li class="page-item"><a class='page-link' href='/page/{{nextPage}}'>{{_t 'Earlier'}}</a></li>
    {{/hasNextButton}}
</ul>
