{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<h3>Штрафы к итоговому рейтингу</h3>
<br>
{{#error}}
    <div class="alert alert-error">{{error}}</div>
{{/error}}
{{#form action='/penalties/apply/' method='post'}}
    <table class="table table-striped table-condensed">
        <tr>
            <td colspan="2">
                Назначить штраф можно только игроку, который на данный момент в игре. В ином случае будет ошибка.
            </td>
        </tr>
        <tr>
            <td>
                Игрок
            </td>
            <td>
                <select name="player">
                    {{#players}}
                        <option value="{{id}}">{{display_name}}</option>
                    {{/players}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Штрафных очков рейтинга
            </td>
            <td>
                <select name="amount">
                    {{#penaltyAmounts}}
                    <option value="{{value}}">{{view}}</option>
                    {{/penaltyAmounts}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Причина штрафа
            </td>
            <td>
                <input type="text" name="reason" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Проверьте дважды, что все правильно. Убрать штраф возможности нет.
                <hr />
                <input type="submit" value="Назначить штраф">
            </td>
        </tr>
    </table>
{{/form}}
