{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<h3>{{_t 'Additional penalties'}}</h3>
<br>
{{#error}}
    <div class="alert alert-danger">{{error}}</div>
{{/error}}
{{^isAggregated}}
    {{#form action='/penalties/apply/' method='post'}}
        <div class="form-group">
            <label for="playerSelector">{{_t 'A penalty may be applied only to player currently in game. Otherwise error will occur.'}}</label>
            <select name="player" class="form-control" id="playerSelector">
                {{#players}}
                    <option value="{{id}}">{{title}}</option>
                {{/players}}
            </select>
        </div>
        <div class="form-group">
            <label for="penaltySelector">{{_t 'Penalty amount'}}</label>
            <select name="amount" class="form-control" id="penaltySelector">
                {{#penaltyAmounts}}
                    <option value="{{value}}">{{view}}</option>
                {{/penaltyAmounts}}
            </select>
        </div>
        <div class="form-group">
            <label for="penaltyReason">{{_t 'Penalty reason'}}</label>
            <input type="text" name="reason" class="form-control" id="penaltyReason" />
        </div>
        <div class="form-group">
            <label for="penaltySubmit">{{_t 'Check twice penalty data. You won\'t be able to cancel the penalty'}}</label>
            <input type="submit" value="{{_t 'Apply penalty'}}" class="form-control btn btn-primary" />
        </div>
    {{/form}}
{{/isAggregated}}
