{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}

<div class="graphs">
    {{#error}}
        <h3>{{_t 'Personal stats'}}</h3>
        <br>
        <div class="alert alert-danger">{{error}}</div>
    {{/error}}

    {{#playerData}}
        <h3>{{_p '%s: personal stats' title}}</h3>
        {{#isSuperadmin}}
            <small>id: {{id}}</small> |
            <a href="/profile/edit/{{id}}">{{_t 'Edit player information'}}</a>
        {{/isSuperadmin}}
        <hr/>

        {{^data}}
            {{_t 'No stats are available yet'}}
        {{/data}}

        {{#data}}
            {{> partials/GraphPlotsInit}}
            <div class="container">
                <div class="row" style="display: block">
                    <div class="col-12">
                        <div id='chart_rating'></div>
                    </div>
                    <div class="col-12" id="chart_rating_info"></div>
                </div>

                <hr>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped table-condensed">
                            <tr>
                                <td colspan="2" style="padding-left: 20px"><b>{{_t 'Common stats'}}</b></td>
                            </tr>
                            <tr>
                                <td>{{_t 'Games played'}}</td>
                                <td><b>{{totalPlayedGames}}</b></td>
                            </tr>
                            <tr>
                                <td>{{_t 'Rounds played'}}</td>
                                <td><b>{{totalPlayedRounds}}</b></td>
                            </tr>

                            <tr>
                                <td colspan="2" style="padding-left: 20px"><b>{{_t 'Round details:'}}</b></td>
                            </tr>

                            <tr>
                                <td>{{_t 'Rounds won'}}</td>
                                <td><b>{{winCount}}</b> &nbsp; ({{winCountPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'ron wins'}}</td>
                                <td><b>{{ronCount}}</b> &nbsp; ({{ronCountPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'tsumo wins'}}</td>
                                <td><b>{{tsumoCount}}</b> &nbsp; ({{tsumoCountPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'open hands won'}}</td>
                                <td><b>{{winsWithOpen}}</b> &nbsp; ({{winsWithOpenPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'riichi hands won'}}</td>
                                <td><b>{{winsWithRiichi}}</b> &nbsp; ({{winsWithRiichiPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'dama hands won'}}</td>
                                <td><b>{{winsWithDama}}</b> &nbsp; ({{winsWithDamaPercent}}%)</td>
                            </tr>

                            <tr>
                                <td>{{_t 'Ron feeds'}}</td>
                                <td><b>{{feedCount}}</b> &nbsp; ({{feedCountPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'because of riichi'}}</td>
                                <td><b>{{feedUnderRiichi}}</b> &nbsp; ({{feedUnderRiichiPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'unforced to open hands'}}</td>
                                <td><b>{{feedToOpenUnforced}}</b> &nbsp; ({{feedToOpenUnforcedPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'unforced to riichi hands'}}</td>
                                <td><b>{{feedToRiichiUnforced}}</b> &nbsp; ({{feedToRiichiUnforcedPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'unforced to dama hands'}}</td>
                                <td><b>{{feedToDamaUnforced}}</b> &nbsp; ({{feedToDamaUnforcedPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>{{_t 'Tsumo losses'}}</td>
                                <td><b>{{tsumoFeedCount}}</b> &nbsp; ({{tsumoFeedCountPercent}}%)</td>
                            </tr>

                            <tr>
                                <td>{{_t 'Draws'}}</td>
                                <td><b>{{drawCount}}</b> &nbsp; ({{drawPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'tempai at draw'}}</td>
                                <td><b>{{drawTempai}}</b> &nbsp; ({{drawTempaiPercent}}%)</td>
                            </tr>

                            <tr>
                                <td>{{_t 'Chombo penalties'}}</td>
                                <td><b>{{chomboCount}}</b> &nbsp; ({{chomboCountPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>{{_t 'Riichi bets'}}</td>
                                <td><b>{{riichiTotal}}</b> &nbsp; ({{riichiTotalPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'bets won'}}</td>
                                <td><b>{{riichiWon}}</b> &nbsp; ({{riichiWonPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>- {{_t 'bets lost'}}</td>
                                <td><b>{{riichiLost}}</b> &nbsp; ({{riichiLostPercent}}%)</td>
                            </tr>
                            <tr>
                                <td>{{_t 'Dora count (avg.)'}}</td>
                                <td><b>{{doraCount}}</b> &nbsp; ({{averageDoraCount}})</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-left: 20px"><b>{{_t 'Places stat:'}}</b></td>
                            </tr>
                            <tr>
                                <td>{{_t '1st place'}}</td>
                                <td>{{place1}} %</td>
                            </tr>
                            <tr>
                                <td>{{_t '2nd place'}}</td>
                                <td>{{place2}} %</td>
                            </tr>
                            <tr>
                                <td>{{_t '3rd place'}}</td>
                                <td>{{place3}} %</td>
                            </tr>
                            <tr>
                                <td>{{_t '4th place'}}</td>
                                <td>{{place4}} %</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-left: 20px"><b>{{_t 'Final game points:'}}</b></td>
                            </tr>
                            <tr>
                                <td>{{_t 'Minimal'}}</td>
                                <td>{{minScores}}</td>
                            </tr>
                            <tr>
                                <td>{{_t 'Maximal'}}</td>
                                <td>{{maxScores}}</td>
                            </tr>
                            <tr>
                                <td>{{_t 'Average'}}</td>
                                <td>{{averageScores}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12">
                        <div id='chart_hands'></div>
                        <hr/>
                        <div id='chart_yaku'></div>
                    </div>
                </div>
            </div>

        {{/data}}
    {{/playerData}}
</div>
