{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .adm-actions form {
        display: inline;
    }
</style>
<h3>{{_t 'Players management'}}</h3>
<br>
{{#error}}
<div class="alert alert-danger">{{error}}</div>
{{/error}}
{{^isAggregated}}
    {{#authorized}}
        <hr />
        <h4>{{_p 'Pre-registration list (%d)' enrolledCount}}
          {{#showPrint}}
            {{#a href='/reg/print' class='btn btn-primary'}}{{_t 'Print PINs and QR codes'}}{{/a}}
          {{/showPrint}}
        </h4>

        <table class="table table-condensed table-striped">
            <tr>
                <th>{{_t 'Player'}}</th>
                <th>{{_t 'PIN'}}</th>
                <th>{{_t 'Admin actions'}}</th>
            </tr>
        {{#enrolled}}
            <tr>
                <td>{{display_name}}</td>
                <td>{{pin}}</td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="action_type" value="event_reg" />
                        <input type="hidden" name="id" value="{{id}}" />
                        <input class="btn btn-large btn-success" type="submit" value="{{_t 'Confirm attendance manually'}}" />
                    </form>
                </td>
            </tr>
        {{/enrolled}}
        </table>
        <hr />
        <h4>{{_p 'Registered players (%d)' registeredCount}}</h4>
        <table class="table table-condensed table-striped table-hover">
            <tr>
                <th>{{_t 'Player'}}</th>
                <th>{{_t 'Admin actions'}}</th>
                {{#prescriptedEvent}}
                    <th>{{_t 'Local id'}}</th>
                {{/prescriptedEvent}}
                {{#teamEvent}}
                    <th>{{_t 'Team name'}}</th>
                {{/teamEvent}}
                {{#canUseSeatingIgnore}}
                    <th>{{_t 'Exclude from seating'}}</th>
                {{/canUseSeatingIgnore}}
            </tr>
        {{#registered}}
            <tr>
                <td>{{display_name}}{{#onlineEvent}} ({{tenhou_id}}){{/onlineEvent}}</td>
                <td class="adm-actions">
                    <form action="" method="post">
                        <input type="hidden" name="action_type" value="reenroll" />
                        <input type="hidden" name="id" value="{{id}}" />
                        <input class="btn btn-large btn-info" type="submit" value="{{_t 'Reissue PIN'}}" />
                    </form>
                    <form action="" method="post">
                        <input type="hidden" name="action_type" value="event_unreg" />
                        <input type="hidden" name="id" value="{{id}}" />
                        <input class="btn btn-large btn-danger" type="submit" value="{{_t 'Remove'}}" onclick="return confirm('{{_p 'Remove player %s?' display_name}}');" />
                    </form>
                </td>
                {{#prescriptedEvent}}
                    <td><input type="text" tabindex="{{index}}" value="{{local_id}}" class="local-id-selector form-control" data-player-id="{{id}}" /></td>
                {{/prescriptedEvent}}
                {{#teamEvent}}
                    <td><input type="text" tabindex="{{index}}" value="{{team_name}}" class="team-name-selector form-control" data-player-id="{{id}}" /></td>
                {{/teamEvent}}
                {{#canUseSeatingIgnore}}
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="action_type" value="update_ignore_seating" />
                        <input type="hidden" name="id" value="{{id}}" />
                        {{#ignore_seating}}
                            <input type="hidden" name="ignore" value="0" />
                            <input class="btn btn-large btn-success" type="submit" value="{{_t 'Include into seating'}}" />
                        {{/ignore_seating}}
                        {{^ignore_seating}}
                            <input type="hidden" name="ignore" value="1" />
                            <input class="btn btn-large btn-warning" type="submit" value="{{_t 'Exclude from seating'}}" />
                        {{/ignore_seating}}
                    </form>
                </td>
                {{/canUseSeatingIgnore}}
            </tr>
        {{/registered}}
        </table>
        {{#prescriptedEvent}}
            <hr />
            <form action="" method="post" id="id_map_form">
                <input type="hidden" name="action_type" value="save_local_ids" />
                <input type="hidden" name="map_json" value="" id="local_id_map_json" />
                <div>{{_t 'This will update current local id mapping. See "Predefined seating" page for details'}}</div>
                <div><input tabindex="{{lastindex}}" type="button"
                        value="{{_t 'Save local IDs'}}"
                        onclick="saveLocalIds('local-id-selector', 'local_id_map_json', 'id_map_form')"
                        class="btn btn-primary" /></div>
            </form>
        {{/prescriptedEvent}}
        {{#teamEvent}}
            <hr />
            <form action="" method="post" id="teams_form">
                <input type="hidden" name="action_type" value="save_teams" />
                <input type="hidden" name="map_json" value="" id="teams_map_json" />
                <div>{{_t 'This will update current teams mapping. See "Team table" page for details'}}</div>
                <div><input tabindex="{{lastindex}}" type="button"
                        value="{{_t 'Save teams list'}}"
                        onclick="saveTeamNames('team-name-selector', 'teams_map_json', 'teams_form')"
                        class="btn btn-dark" /></div>
            </form>
        {{/teamEvent}}
    {{/authorized}}
{{/isAggregated}}
