{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .adm-actions form {
        display: inline;
    }
</style>
<h3>{{_t 'Players management'}}</h3>
<br>
{{#error}}
<div class="alert alert-error">{{error}}</div>
{{/error}}
<hr />
<h4>{{_p 'Pre-registration list (%d)' enrolledCount}}</h4>
<table class="table table-condensed table-stripped">
    <tr>
        <th>{{_t 'Player'}}</th>
        <th>{{_t 'PIN'}}</th>
        <th>{{_t 'Admin actions'}}</th>
    </tr>
{{#enrolled}}
    <tr>
        <td>{{display_name}}</td>
        <td>{{pin}}</td>
        <td>
            <form action="" method="post">
                <input type="hidden" name="action_type" value="event_reg" />
                <input type="hidden" name="id" value="{{id}}" />
                <input class="btn btn-large btn-success" type="submit" value="{{_t 'Confirm attendance manually'}}" />
            </form>
        </td>
    </tr>
{{/enrolled}}
</table>
<hr />
<h4>{{_p 'Registered players (%d)' registeredCount}}</h4>
<table class="table table-condensed table-stripped">
    <tr>
        <th>{{_t 'Player'}}</th>
        <th>{{_t 'Admin actions'}}</th>
    </tr>
{{#registered}}
    <tr>
        <td>{{display_name}}</td>
        <td class="adm-actions">
            <form action="" method="post">
                <input type="hidden" name="action_type" value="reenroll" />
                <input type="hidden" name="id" value="{{id}}" />
                <input class="btn btn-large btn-info" type="submit" value="{{_t 'Reissue PIN'}}" />
            </form>
            <form action="" method="post">
                <input type="hidden" name="action_type" value="event_unreg" />
                <input type="hidden" name="id" value="{{id}}" />
                <input class="btn btn-large btn-danger" type="submit" value="{{_t 'Remove'}}" onclick="return confirm('{{_p 'Remove player %s?' display_name}}');" />
            </form>
        </td>
    </tr>
{{/registered}}
</table>