{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .player-row {
        padding: 10px;
    }
    .player-row:nth-of-type(even) {
        background-color: rgb(238, 238, 238);
    }
</style>
<script type="text/javascript">
    const loadingIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#a00" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
    </svg>`;
    const doneIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0a0" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
    </svg>`;
    const noopIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    </svg>`;

    window.addEventListener('DOMContentLoaded', () => {
        const addSearchList = document.getElementById('search_list');
        const searchField = document.getElementById('search_field');
        function _updateResults() {
            let formData = new FormData();
            formData.append('action_type', 'find_persons');
            formData.append('query', document.getElementById('search_field').value);
            fetch('{{link href='/reg'}}', {
                method: 'POST',
                cache: 'no-cache',
                credentials: 'same-origin',
                referrerPolicy: 'no-referrer',
                body: formData
            }).then((result) => result.json()).then((result) => {
                addSearchList.innerHTML = `${result.map((item) => {
                    return `<a class="dropdown-item" href="#"
                               onclick="addPlayer(${item.id}); return false;">${item.title}</a>`;
                }).join('')}`;
            });
        }

        window.addPlayer = function(playerId) {
            let formData = new FormData();
            formData.append('action_type', 'event_reg');
            formData.append('id', playerId);
            fetch('{{link href='/reg'}}', {
                method: 'POST',
                cache: 'no-cache',
                credentials: 'same-origin',
                referrerPolicy: 'no-referrer',
                body: formData
            }).then((result) => result.json()).then((result) => {
                if (result.success) {
                    document.getElementById('add_result').innerHTML =
                        `<div class="alert alert-success" role="alert">
                            {{_t 'Player added successfully. Reload page to see results'}}
                        </div>`;
                    setTimeout(() => {
                        document.getElementById('add_result').innerHTML = '';
                    }, 2000);
                } else {
                    document.getElementById('add_result').innerHTML =
                        `<div class="alert alert-danger" role="alert">
                            {{_t 'Error occured while adding player: '}}
                            ${result.error}
                        </div>`;
                }
            });
        }

        const upd = jQuery.debounce(250, _updateResults);
        if (searchField) {
            searchField.addEventListener('keyup', () => setTimeout(upd, 0));
        }

        function _updateReplacementsList(targetListId, inputEl, id) {
            let formData = new FormData();
            formData.append('action_type', 'find_persons');
            formData.append('query', inputEl.value);
            fetch('{{link href='/reg'}}', {
                method: 'POST',
                cache: 'no-cache',
                credentials: 'same-origin',
                referrerPolicy: 'no-referrer',
                body: formData
            }).then((result) => result.json()).then((result) => {
                document.getElementById(targetListId).innerHTML = `
                <a class="dropdown-item" href="#"
                   onclick="selectReplacement(id, -1, '{{_t 'Nobody'}}', this); return false;">{{_t 'Nobody'}}</a>
                ${result.map((item) => {
                    return `<a class="dropdown-item" href="#"
                               onclick="selectReplacement(${id}, ${item.id}, '${item.title}', this); return false;">
                            ${item.title}
                           </a>`;
                }).join('')}
            `;
            }).catch(() => {
                document.getElementById(targetListId).innerHTML = `
                <a class="dropdown-item" href="#"
                   onclick="selectReplacement(id, -1, '{{_t 'Nobody'}}', this); return false;">{{_t 'Nobody'}}</a>
            `;
            })
        }

        window.updateReplacementsList = jQuery.debounce(250, _updateReplacementsList);
        window.selectReplacement = function (id, replacementId, replacementName, menuItemEl) {
            const status = document.getElementById('repl_status' + id);
            status.innerHTML = loadingIcon;
            let formData = new FormData();
            formData.append('action_type', 'update_replacement');
            formData.append('id', id);
            formData.append('replacement', replacementId);
            fetch('{{link href='/reg'}}', {
                method: 'POST',
                cache: 'no-cache',
                credentials: 'same-origin',
                referrerPolicy: 'no-referrer',
                body: formData
            }).then((result) => result.json()).then((result) => {
                if (result.success) {
                    const inputEl = document.getElementById('repl_input' + id);
                    inputEl.value = replacementName === '{{_t 'Nobody'}}' ? '' : replacementName;
                    status.innerHTML = doneIcon;
                    setTimeout(() => {
                        status.innerHTML = noopIcon;
                    }, 3000);
                }
            });
        };
    });
</script>
<h3>{{_t 'Players management'}}</h3>
<br>
{{#error}}
    <div class="alert alert-danger">{{error}}</div>
{{/error}}
{{^isAggregated}}
    {{#authorized}}
        {{#showAddRemove}}
        <h4>{{_t 'Register players'}}</h4>
        <div>
            <div class="dropdown">
                <div class="input-group">
                    <input type="text" width="200" id="search_field"
                           class="form-control"
                           data-toggle="dropdown"
                           placeholder="{{_t 'Enter part of name'}}" />
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="search_list"></div>
                </div>
            </div>
            <div id="add_result"></div>
        </div>
        <hr/>
        {{/showAddRemove}}
        <div class="row">
            <div class="col-12">
                <h4>{{_p 'Registered players (%d)' registeredCount}}</h4>
            </div>
            <hr />
        </div>

        {{#registered}}
            <div class="player-row">
                <div class="row mb-2">
                    <div class="col-4" style="font-weight: bold">
                        {{display_name}}{{#onlineEvent}} ({{tenhou_id}}){{/onlineEvent}}
                    </div>
                    <div class="col-8">
                        {{#canUseSeatingIgnore}}
                            <form action="" method="post" class="d-inline-block">
                                <input type="hidden" name="action_type" value="update_ignore_seating"/>
                                <input type="hidden" name="id" value="{{id}}"/>
                                {{#ignore_seating}}
                                    <input type="hidden" name="ignore" value="0"/>
                                    <input class="btn btn-success" type="submit"
                                           value="{{_t 'Include into seating'}}"/>
                                {{/ignore_seating}}
                                {{^ignore_seating}}
                                    <input type="hidden" name="ignore" value="1"/>
                                    <input class="btn btn-warning" type="submit"
                                           value="{{_t 'Exclude from seating'}}"/>
                                {{/ignore_seating}}
                            </form>
                        {{/canUseSeatingIgnore}}
                        {{#showAddRemove}}
                            <form action="" method="post" class="d-inline-block">
                                <input type="hidden" name="action_type" value="event_unreg"/>
                                <input type="hidden" name="id" value="{{id}}"/>
                                <input class="btn btn-danger" type="submit" value="{{_t 'Remove'}}"
                                       onclick="return confirm('{{_p 'Remove player %s?' display_name}}');"/>
                            </form>
                        {{/showAddRemove}}
                    </div>
                </div>
                {{#showReplace}}
                    <div class="row mb-2">
                        <div class="col-4">
                            {{_t 'Replacement player'}}
                        </div>
                        <div class="col-8">
                            <form action="" method="post" class="form">
                                <input type="hidden" name="action_type" value="update_replacement"/>
                                <input type="hidden" name="id" value="{{id}}"/>
                                <div class="dropdown">
                                    <div class="input-group">
                                        <input id="repl_input{{id}}"
                                               value="{{replaced_by.display_name}}"
                                               class="form-control"
                                               type="text" data-toggle="dropdown"
                                               onkeyup="updateReplacementsList('repl_list{{id}}', this, {{id}})"/>
                                        <div class="input-group-append">
                                    <span class="input-group-text" id="repl_status{{id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        </svg>
                                    </span>
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                             id="repl_list{{id}}">
                                            <a class="dropdown-item" href="#"
                                               onclick="selectReplacement({{id}}, -1, '{{_t 'Nobody'}}', this); return false;">{{_t 'Nobody'}}</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {{/showReplace}}
                {{#prescriptedEvent}}
                    <div class="row mb-2">
                        <div class="col-4">
                            {{_t 'Local id'}}
                        </div>
                        <div class="col-8 form">
                            <input type="text" tabindex="{{index}}" value="{{local_id}}"
                                   class="local-id-selector form-control" data-player-id="{{id}}"/>
                        </div>
                    </div>
                {{/prescriptedEvent}}
                {{#teamEvent}}
                    <div class="row mb-2">
                        <div class="col-4">
                            {{_t 'Team name'}}
                        </div>
                        <div class="col-8 form">
                            <input type="text" tabindex="{{index}}" value="{{team_name}}"
                                   class="team-name-selector form-control" data-player-id="{{id}}"/>
                        </div>
                    </div>
                {{/teamEvent}}
            </div>
        {{/registered}}
        <hr />
        {{#prescriptedEvent}}
            <div class="row">
                <div class="col-12">
                    <form action="" method="post" id="id_map_form">
                        <input type="hidden" name="action_type" value="save_local_ids"/>
                        <input type="hidden" name="map_json" value="" id="local_id_map_json"/>
                        <div class="form-group">
                            <label>{{_t 'This will update current local id mapping. See "Predefined seating" page for details'}}</label>
                            <input class="form-control btn btn-primary" tabindex="{{lastindex}}" type="button"
                                   value="{{_t 'Save local IDs'}}"
                                   onclick="saveLocalIds('local-id-selector', 'local_id_map_json', 'id_map_form')"/>
                        </div>
                    </form>
                </div>
            </div>
            <hr/>
        {{/prescriptedEvent}}
        {{#teamEvent}}
            <div class="row">
                <div class="col-12">
                    <form action="" method="post" id="teams_form">
                        <input type="hidden" name="action_type" value="save_teams"/>
                        <input type="hidden" name="map_json" value="" id="teams_map_json"/>
                        <div>{{_t 'This will update current teams mapping. See "Team table" page for details'}}</div>
                        <div><input tabindex="{{lastindex}}" type="button"
                                    value="{{_t 'Save teams list'}}"
                                    onclick="saveTeamNames('team-name-selector', 'teams_map_json', 'teams_form')"
                                    class="btn btn-dark form-control"/>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
        {{/teamEvent}}
    {{/authorized}}
{{/isAggregated}}
