{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .adm-actions form {
        display: inline;
    }
</style>
<h2>Игроки и регистрация</h2>
<br>
{{#error}}
<div class="alert alert-error">{{error}}</div>
{{/error}}
<hr />
<h3>Списки на регистрацию ({{enrolledCount}})</h3>
<table class="table table-condensed table-stripped">
    <tr>
        <th>Игрок</th>
        <th>PIN</th>
        <th>Действия администратора</th>
    </tr>
{{#enrolled}}
    <tr>
        <td>{{display_name}}</td>
        <td>{{pin}}</td>
        <td>
            <form action="" method="post">
                <input type="hidden" name="action_type" value="event_reg" />
                <input type="hidden" name="id" value="{{id}}" />
                <input class="btn btn-large btn-success" type="submit" value="Подтвердить явку" />
            </form>
        </td>
    </tr>
{{/enrolled}}
</table>
<hr />
<h3>Окончательно зарегистрированные игроки ({{registeredCount}})</h3>
<table class="table table-condensed table-stripped">
    <tr>
        <th>Игрок</th>
        <th>Действия администратора</th>
    </tr>
{{#registered}}
    <tr>
        <td>{{display_name}}</td>
        <td class="adm-actions">
            <form action="" method="post">
                <input type="hidden" name="action_type" value="reenroll" />
                <input type="hidden" name="id" value="{{id}}" />
                <input class="btn btn-large btn-info" type="submit" value="Выдать PIN заново" />
            </form>
            <form action="" method="post">
                <input type="hidden" name="action_type" value="event_unreg" />
                <input type="hidden" name="id" value="{{id}}" />
                <input class="btn btn-large btn-danger" type="submit" value="Удалить" onclick="return confirm('Удалить игрока {{display_name}}?');" />
            </form>
        </td>
    </tr>
{{/registered}}
</table>