{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<h3>{{_t 'Sign up'}}</h3>
<br>
{{#error}}
    <div class="alert alert-error">{{error}}</div>
{{/error}}
<form action="" method="post" class="well">
    <div class="form-text">
      {{_t "Please enter your e-mail address and password. We will send authentication link to your email, so you will be able to sign in and fill your personal data"}}
    </div>
    <hr />
    <div class="form-group">
        <label for="email">{{_t 'Your e-mail address'}}</label>
        <input type="text" class="form-control" id="email" name="email">
        <small id="emailHelp" class="form-text text-muted">{{_t "Your e-mail will not be shared with anyone else and will not be visible anywhere."}}</small>
    </div>
    <div class="form-group">
        <label for="password">{{_t 'Your password'}}</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">{{_t 'Register by e-mail'}}</button>
</form>
<hr />
<div id="Policy">
  <div class="card">
    <div id="PolicyHeading">
        <span class="mb-0">
          <button class="btn btn-link collapsed"
                  data-toggle="collapse" data-target="#PolicyOverview"
                  aria-expanded="false" aria-controls="PolicyOverview">
            {{_t 'Privacy policy overview'}}
          </button>
        </span>
    </div>

    <div id="PolicyOverview" class="collapse" aria-labelledby="PolicyHeading" data-parent="#Policy">
      <div class="card-body">
        {{> partials/PrivacyPolicyOverview }}
      </div>
    </div>
  </div>
</div>
