{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
 th.rotate {
   /* Something you can count on */
   height: 75px;
   white-space: nowrap;
   vertical-align: inherit;
 }

 th.rotate > div {
   transform:
   /* Magic Numbers */
   translate(-1px, 23px)
   /* 45 is really 360 - 45 */
   rotate(315deg);
   width: 30px;
 }
 th.rotate > div > span {
   padding: 5px 10px;
 }
 td.intsect {
   text-align:center;
   border: 1px solid #333;
 }
 td.intsect.gray {
   background-color: #888;
 }
</style>
{{#error}}
  <h4>Ошибка: {{error}}</h4>
{{/error}}
{{^error}}
  <h2>Жеребьёвка</h2>
  <form action="" method="post">
    <input type="hidden" name="factor" value="{{seed}}" />
    <input type="submit" class="btn btn-success" value="Начать игры!"
           onclick="javascript: return prompt('Начать игры с данной рассадкой?');" />
  </form>
  {{#a href='/sortition/'}}Следующая рассадка{{/a}}
  <br>
  <table class="table table-striped">
    <tr>
      <th># стола</th>
      <th>ВОСТОК</th>
      <th></th>
      <th>ЮГ</th>
      <th></th>
      <th>ЗАПАД</th>
      <th></th>
      <th>СЕВЕР</th>
      <th></th>
    </tr>
    {{#seating}}
      <tr>
        <td>Стол № {{tableIndex}}</td>
        {{#players}}
          <td>
            {{username}}
          </td>
          <td>
            <span class="badge badge-{{zone}}">{{rating}}</span>
          </td>
        {{/players}}
      </tr>
    {{/seating}}
  </table>
  <hr />
  <h3>Пересечения</h3>
  <br><br>
  <table cellpadding="3">
    <tr>
      <th>&nbsp;</th>
      {{#intersections}}
        <th class="rotate"><div><span>{{username}}</span></div></th>
      {{/intersections}}
    </tr>
    {{#intersections}}
      <tr>
        <td>{{username}}</td>
        {{#intersectWith}}
          <td class="intsect{{#self}} gray{{/self}}">
            <span class="badge badge-{{intcolor}}">{{count}}</span>
          </td>
        {{/intersectWith}}
      </tr>
    {{/intersections}}
  </table>
{{/error}}
