{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .cancellation {
        background-color: #900;
        color: #fff;
        display: inline-block;
        padding: 5px;
        font-size: 16px;
    }
</style>

<script>
    function disableTemporarily(what) {
        $(what).attr('disabled', true);
        var timer = window.setTimeout(function() {
            $(what).attr('disabled', false);
            window.clearTimeout(timer);
        }, 3000);
        $(what).parent('form').submit();
        return true;
    }
</script>

{{#reason}}<h2>Невозможно сделать новую рассадку: {{reason}}</h2>{{/reason}}

{{#finalizeSessions}}
    <br />
    <h3>Завершить игры</h3>
    <p>
        После нажатия на кнопку невозможно будет отменить раздачи. Нажатие на эту кнопку необходимо для
        обновления рейтинговой таблицы согласно результатам игры.
    </p>

    {{#form action='/tourn/finalizeSessions/' method='post'}}
        <button type="submit" style="font-size: 50px; height: 100px;">
            FINALIZE
        </button>
    {{/form}}
{{/finalizeSessions}}

{{#showTimerControls}}
    <br />
    <h3>Старт/рестарт текущего таймера и начало игр</h3>
    В случае, если рассадка сгенерирована, нажатие на эту кнопку стартует все игры и запускает таймер.
    Все последующие нажатия на эту кнопку просто обнуляют таймер до начального значения - будьте осторожны.
    {{#form action='/tourn/startTimer/' method='post'}}
        <input type="button" style="font-size: 50px; height: 100px;"
               onclick="return window.confirm('Выставить таймер в начальное значение?') && disableTemporarily(this);"
               value="TIMER">
    {{/form}}
    <hr />
{{/showTimerControls}}

{{#showAutoControls}}
    <h3>Автоматическая рассадка</h3>
    <table><tr>
        <td>
            Рандом
            {{#form action='/tourn/shuffledSeating/' method='post'}}
                <input type="button" style="font-size: 50px; height: 100px"
                    onclick="return window.confirm('Используем случайную рассадку для новой игры?')
                        && disableTemporarily(this);"
                    value="START SHUFFLED">
            {{/form}}
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            Швейцарка
            {{#form action='/tourn/swissSeating/' method='post'}}
                <input type="button" style="font-size: 50px; height: 100px"
                    onclick="return window.confirm('Используем швейцарскую рассадку для новой игры?')
                        && disableTemporarily(this);"
                    value="START SWISS">
            {{/form}}
        </td>
    </tr></table>
    Не забудьте нажать на кнопку "TIMER", после того как игроки рассядутся за столы.
    <hr/>
{{/showAutoControls}}

{{#showManualControls}}
    <h3>Ручная рассадка</h3>
    {{#form action='/tourn/manualSeating/' method='post'}}
        Введите состав столов. Один стол = одна строка.<br>
        Если не отмечена галочка, игроки будут рассажены на "восток-юг-запад-север" согласно порядку ввода.<br>
        Цифры означают текущее место игрока в рейтинге. Пример швейцарской рассадки с шагом 4 для четырех столов: <br>
        1-5-9-13<br>
        2-6-10-14<br>
        3-7-11-15<br>
        4-8-12-16<br>
        <div><textarea name="description" rows="6">{{tablesList}}</textarea></div>
        <div><label for="randomize" style="font-size: 17px;">
            <input checked="checked" id="randomize" type="checkbox" name="randomize" value="true"> Перемешать игроков за
            каждым столом
        </label></div>
        <input type="button" style="font-size: 50px; height: 100px" value="START MANUAL" onclick="return window.confirm('Используем ручную рассадку для новой игры?') && disableTemporarily(this);">
    {{/form}}
{{/showManualControls}}

<hr/>
<h3>Состояние столов:{{#seatingReady}} РАССАДКА ГОТОВА, МОЖНО НАЧИНАТЬ!{{/seatingReady}}</h3>
<table class="table table-bordered">
    {{#tables}}
        <tr>
            <td>#{{table_index}}</td>
            {{#players}}
                <td>{{display_name}}</td>
            {{/players}}
            <td><span class="badge {{#finished}}badge-success{{/finished}}">{{status}}</span></td>
        </tr>
        <tr>
            <td colspan="6" style="font-weight: bold; font-size: 16px">
                Предыдущая раздача:
                {{^last_round}}(ни одной раздачи не сыграно){{/last_round}}
                {{#last_round}}
                    {{last_round}}
                    {{#a
                        href="/tourn/dropLastRound/{hash}/"
                        class="cancellation"
                        onclick="return window.confirm('Отменяем раздачу: {last_round}. Точно отменить раздачу? Назад дороги нет!')"
                    }}Отменить последнюю внесенную раздачу{{/a}}
                {{/last_round}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-size: 16px">
                Штрафы:
            </td>
            <td colspan="5">
                <ul>
                    {{#penalties}}
                        <li>{{who}} - штраф {{amount}} очков. Причина: {{reason}}</li>
                    {{/penalties}}
                </ul>
            </td>
        </tr>
    {{/tables}}
</table>
