{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .col-1, .players-list {
        padding-left: 14px;
        padding-right: 0;
    }
    .players-list {
        word-wrap: break-word;
    }
    .game-row {
        padding: 6px 0;
    }
    .game-row:nth-of-type(even) {
        background-color: rgb(238, 238, 238);
    }
</style>

<div class="row">
    <div class="col-12">
        <h3>{{_t 'Team table'}}</h3>
        <br>
        {{#error}}
            <div class="alert alert-error">{{error}}</div>
        {{/error}}
    </div>
</div>

<div class="row">
    <div class="col-12">
        {{#hideResults}}
            <p>{{_t 'Rating table has been hidden by tournament administrator'}}</p>
        {{/hideResults}}

        {{#showAdminWarning}}
            <div class="alert alert-success">
                <p>{{_t 'These results are visible only for tournament administrator'}}</p>
            </div>
        {{/showAdminWarning}}
    </div>
</div>

{{^hideResults}}
    <div class="row" style="padding-bottom: 10px">
        <div class="col-1">#</div>
        <div class="col-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
        </div>
        <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
            </svg>
        </div>
        <div class="col-6"></div>
    </div>
    {{#each teams}}
        <div class="row game-row align-items-center">
          <div class="col-1">{{_index}}</div>
          <div class="col-3"><b>{{this.team_name}}</b></div>
          <div class="col-2">
            <span class="badge
              {{#this.winner_zone}}badge-success{{/this.winner_zone}}
              {{^this.winner_zone}}badge-danger{{/this.winner_zone}}
            ">{{this.total_rating}}</span>
          </div>
          <div class="col-6">
              {{#each this.players}}
                  <div class="row">
                      <div class="col-6 players-list" style="text-align: right">
                          {{#a href='/user/{id}/'}}{{this.title}}{{/a}}{{#if isOnlineTournament}} ({{this.tenhou_id}}){{/if}}
                      </div>
                      <div class="col-6 players-list">
                          <span class="badge
                                {{#this.winner_zone}}badge-success{{/this.winner_zone}}
                                      {{^this.winner_zone}}badge-danger{{/this.winner_zone}}
                          ">{{this.rating}}</span>
                      </div>
                  </div>
               {{/each}}
          </div>
        </div>
    {{/each}}
{{/hideResults}}
