{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .actionButton {
        font-size: 20px;
        font-weight: bold;
    }
</style>

<script>
    function disableTemporarily(what) {
        $(what).attr('disabled', true);
        var timer = window.setTimeout(function() {
            $(what).attr('disabled', false);
            window.clearTimeout(timer);
        }, 3000);
        $(what).parent('form').submit();
        return true;
    }
</script>

{{#error}}<h3>{{_p 'Something went wrong: %s' error}}</h3>{{/error}}
{{^error}}
    {{#prescriptedEventErrorDescription}}
        <h3>{{_t 'Something went wrong:'}}</h3>
        {{prescriptedEventErrorDescription}}
    {{/prescriptedEventErrorDescription}}
    {{#stageNotReady}}
        <h3>{{_t 'Unable to generate seating'}}</h3>
        {{_t 'Total count of registered players is not divisible by 4. Use the "Add player" and "Players management" pages to add or remove players. Special replacement player accounts may be used to complete the table.'}}
    {{/stageNotReady}}
    {{#stageReadyButNotStarted}}
        {{> partials/TournamentControlsStageReady }}
    {{/stageReadyButNotStarted}}
    {{#stageSeatingInProgress}}
        <h3>{{_t 'Tables are being prepared...'}}</h3>
        {{_t 'Please wait a while and reload the page.'}}
        <hr />
        {{> partials/TournamentTablesState }}
    {{/stageSeatingInProgress}}
    {{#stageSeatingReady}}
        {{> partials/TournamentControlsStageSeatingReady }}
    {{/stageSeatingReady}}
    {{#stageStarted}}
        {{> partials/TournamentControlsStageStarted }}
    {{/stageStarted}}
    {{#stagePrefinished}}
        {{> partials/TournamentControlsStagePrefinished }}
    {{/stagePrefinished}}
{{/error}}
