{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<style>
    .actionButton {
        font-size: 16px;
        font-weight: bold;
    }
</style>

<script>
    function disableTemporarily(what) {
        $(what).attr('disabled', true);
        var timer = window.setTimeout(function() {
            $(what).attr('disabled', false);
            window.clearTimeout(timer);
        }, 3000);
        $(what).parent('form').submit();
        return true;
    }
</script>

{{#error}}<h3>{{_t 'Something went wrong: %s' error}}</h3>{{/error}}
{{^error}}
    {{#stageNotReady}}
        <h3>{{_t 'Unable to generate seating'}}</h3>
        {{_t 'Total count of registered players is not divisible by 4. Use the "Add player" and "Players management" pages to add or remove players. Special replacement player accounts may be used to complete the table.'}}
    {{/stageNotReady}}
    {{#stageReadyButNotStarted}}
        <h3>{{_t 'Ready to generate seating'}}</h3>
        {{_t 'Select seating mode and press the appropriate button.'}}
        <hr/>
        <table class="table table-striped">
            {{#withAutoSeating}}
                <tr>
                    <td style="width:50%">
                        {{#form action='/tourn/shuffledSeating/' method='post'}}
                            <input type="button" class="btn btn-large btn-primary actionButton"
                                   onclick="return window.confirm('{{_t 'Use random seating for new game?'}}') && disableTemporarily(this);"
                                   value="{{_t 'Random seating'}}">
                        {{/form}}
                    </td>
                    <td rowspan="2" style="width:50%">
                        {{> partials/TournamentHideResults }}
                    </td>
                </tr>
                <tr><td>
                    {{#form action='/tourn/swissSeating/' method='post'}}
                        <input type="button" class="btn btn-large btn-success actionButton"
                               onclick="return window.confirm('{{_t 'Use swiss seating for new game?'}}') && disableTemporarily(this);"
                               value="{{_t 'Swiss seating'}}">
                    {{/form}}
                </td></tr>
            {{/withAutoSeating}}
            {{^withAutoSeating}}
                <td colspan="2">
                    {{> partials/TournamentHideResults }}
                </td>
            {{/withAutoSeating}}
            <tr><td colspan="2">
                {{#form action='/tourn/manualSeating/' method='post'}}
                    {{_t 'Enter tables, one per line.'}}<br>
                    {{_t 'Check the box to randomize players seating at each table. Otherwise players will be placed as you entered in order of e-s-w-n.'}}<br>
                    {{_t 'Each number is a player\'s current place in rating. Here is an example of seating with step of 4: '}}<br>
                    1-5-9-13<br>
                    2-6-10-14<br>
                    3-7-11-15<br>
                    4-8-12-16<br>
                    <div><textarea name="description" rows="6">{{tablesList}}</textarea></div>
                    <div><label for="randomize" style="font-size: 17px;">
                        <input checked="checked" id="randomize" type="checkbox" name="randomize" value="true"> {{_t 'Randomize seating at each table'}}
                    </label></div>
                    <input type="button" class="btn btn-large btn-warning actionButton"
                           onclick="return window.confirm('{{_t 'Use manual seating for new game?'}}') && disableTemporarily(this);"
                           value="{{_t 'Use manual seating'}}">
                {{/form}}
            </td></tr>
        </table>
    {{/stageReadyButNotStarted}}
    {{#stageSeatingReady}}
        <h3>{{_t 'Start timer and games'}}</h3>
        {{_t 'Press next button to start the timer and begin the games.'}}
        {{#form action='/tourn/startTimer/' method='post'}}
            <input type="button" class="btn btn-large btn-danger actionButton"
                   onclick="return window.confirm('{{_t 'Start games and timer?'}}') && disableTemporarily(this);"
                   value="{{_t 'Start games!'}}">
        {{/form}}
        <hr />
        {{> partials/TournamentTablesState }}
    {{/stageSeatingReady}}
    {{#stageStarted}}
        <table class="table actionTable">
            <tr>
                <td>
                    <h3>{{_t 'Reset the timer'}}</h3>
                    {{_t 'Pressing this button will reset the timer to its initial value. Be careful: you should not need this usually.'}}
                    {{#form action='/tourn/startTimer/' method='post'}}
                        <input type="button" class="btn btn-large btn-danger actionButton"
                               onclick="return window.confirm('{{_t 'Really reset the timer?'}}') && disableTemporarily(this);"
                               value="{{_t 'Reset the timer'}}">
                    {{/form}}
                </td>
                <td>
                    {{> partials/TournamentHideResults }}
                </td>
            </tr>
        </table>
        <hr />
        {{> partials/TournamentTablesState }}
    {{/stageStarted}}
    {{#stagePrefinished}}
        <table class="table actionTable">
            <tr>
                <td>
                    <h3>{{_t 'Finish all the games'}}</h3>
                    {{_t 'After this button is pressed, you won\'t be able to cancel any rounds, and all the results will become visible to all players in rating table.'}}

                    {{#form action='/tourn/finalizeSessions/' method='post'}}
                        <input type="button" class="btn btn-large btn-primary actionButton"
                               onclick="return window.confirm('{{_t 'Finish the games? You won\'t be able to cancel rounds anymore!'}}') && disableTemporarily(this);"
                               value="{{_t 'Confirm the results and finish all games'}}">
                    {{/form}}
                </td>
                <td>
                    {{> partials/TournamentHideResults }}
                </td>
            </tr>
        </table>
        <hr />
        {{> partials/TournamentTablesState }}
    {{/stagePrefinished}}
{{/error}}
