{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
{{#id}}<h3>{{_t 'Update event'}}</h3>{{/id}}
{{^id}}<h3>{{_t 'Create new event'}}</h3>{{/id}}

{{!*
    TODO:
    - take changes from available_rulesets.changes
    - take field types from available_rulesets.fields
    - take original rules from available_rulesets.originalRules (as array)
    - add 'changes' field containing JSON of all changes in ruleset
*}}

<br>
{{#error}}
  <div class="alert alert-danger" role="alert">{{error}}</div>
{{/error}}
{{#success}}
  <div class="alert alert-success" role="success">{{success}}</div>
{{/success}}
{{^critical}}
  <div class="row">
    <div class="col-12">
      <form action="" method="post" class="well">
        <input type="hidden" name="save" value="1"/>
        {{#isTournament}}<input type="hidden" name="isTournament" value="1"/>{{/isTournament}}
        {{#isOnline}}<input type="hidden" name="isOnline" value="1"/>{{/isOnline}}
        {{#id}}<input type="hidden" name="id" value="{{id}}"/>{{/id}}

        <div class="form-group">
          <label for="title">{{_t 'Title'}}</label>
          <input type="text" class="form-control{{#error_title}} is-invalid{{/error_title}}" id="title"
                 value="{{title}}"
                 name="title">
          {{#error_title}}
            <div class="invalid-feedback">{{error_title}}</div>
          {{/error_title}}
          {{^error_title}}
            <small id="titleHelp" class="form-text text-muted">{{_t "Please enter title for this event with at least 4 characters."}}</small>
          {{/error_title}}
        </div>

        <div class="form-group">
          <label for="description">{{_t 'Description'}}</label>
          <textarea class="form-control" id="description"
                    name="description">{{description}}</textarea>
          <small id="descriptionHelp" class="form-text text-muted">{{_t "Enter short description. Markdown syntax is supported."}}</small>
        </div>

        {{#isTournament}}
          <div class="form-group">
            <label for="duration">{{_t 'Session duration'}}</label>
            <input type="number" class="form-control{{#error_duration}} is-invalid{{/error_duration}}" id="duration"
                   value="{{duration}}"
                   name="duration">
            {{#error_duration}}
              <div class="invalid-feedback">{{error_duration}}</div>
            {{/error_duration}}
            {{^error_duration}}
              <small id="durationHelp" class="form-text text-muted">{{_t "Choose single session duration in minutes (timer initial value). Default is 90."}}</small>
            {{/error_duration}}
          </div>
        {{/isTournament}}

        <div class="form-group">
          <label for="ruleset">{{_t 'Ruleset'}}</label>
          <select class="form-control" id="ruleset" name="ruleset">
            {{#available_rulesets}}
              <option value="{{ident}}"{{#selected}} selected="selected"{{/selected}}>{{name}}</option>
            {{/available_rulesets}}
          </select>
          <small id="rulesetHelp" class="form-text text-muted">{{_t "Select basic ruleset for event."}}</small>
        </div>

        <div class="form-group">
          <label for="timezone">{{_t 'Timezone'}}</label>
          <select class="form-control" id="timezone" name="timezone">
            {{#available_timezones}}
              <option value="{{ident}}"{{#selected}} selected="selected"{{/selected}}>{{ident}}</option>
            {{/available_timezones}}
          </select>
          <small id="timezoneHelp" class="form-text text-muted">{{_t "All dates and times will be displayed according to selected timezone."}}</small>
        </div>

        {{#isOnline}}
          <div class="form-group">
            <label for="lobbyId">{{_t 'Tenhou lobby ID'}}</label>
            <input type="text" class="form-control{{#error_lobbyId}} is-invalid{{/error_lobbyId}}" id="lobbyId"
                   value="{{lobbyId}}"
                   name="lobbyId">
            {{#error_lobbyId}}
              <div class="invalid-feedback">{{error_lobbyId}}</div>
            {{/error_lobbyId}}
            {{^error_lobbyId}}
              <small id="lobbyIdHelp" class="form-text text-muted">{{_t "Please enter lobby id for this event like this: C5560"}}</small>
            {{/error_lobbyId}}
          </div>
        {{/isOnline}}

        {{^isTournament}}
          <div class="form-group">
            <label for="seriesLength">{{_t 'Series'}}</label>
            <input type="number" class="form-control{{#error_seriesLength}} is-invalid{{/error_seriesLength}}"
                   id="seriesLength"
                   min="0"
                   value="{{seriesLength}}"
                   name="seriesLength">
            {{#error_seriesLength}}
              <div class="invalid-feedback">{{error_seriesLength}}</div>
            {{/error_seriesLength}}
            {{^error_seriesLength}}
              <small id="seriesLengthHelp" class="form-text text-muted">{{_t "Set length of game series. Separate rating table for series will be available."}}</small>
            {{/error_seriesLength}}
          </div>

          <div class="form-group">
            <label for="minGames">{{_t 'Minimal games count'}}</label>
            <input type="number" class="form-control{{#error_minGames}} is-invalid{{/error_minGames}}"
                   id="minGames"
                   min="0"
                   value="{{minGames}}"
                   name="minGames">
            {{#error_minGames}}
              <div class="invalid-feedback">{{error_minGames}}</div>
            {{/error_minGames}}
            {{^error_minGames}}
              <small id="minGamesHelp" class="form-text text-muted">{{_t "If this is non-zero N, only those who played more than N games will be shown in rating table."}}</small>
            {{/error_minGames}}
          </div>
        {{/isTournament}}

        {{#isTournament}}
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="isTeam"
                     {{#isTeam}}checked="checked"{{/isTeam}}
                     name="isTeam">
              <label class="form-check-label" for="isTeam">{{_t 'Team tournament'}}</label>
            </div>
            <small id="isTeamHelp" class="form-text text-muted">{{_t "Choose this for separate team rating"}}</small>
          </div>

          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="isPrescripted"
                     {{#isPrescripted}}checked="checked"{{/isPrescripted}}
                     name="isPrescripted">
              <label class="form-check-label" for="isPrescripted">{{_t 'Predefined seating'}}</label>
            </div>
            <small id="isPrescriptedHelp" class="form-text text-muted">{{_t "Choose this if you want to define your own custom seating for tournament by hand"}}</small>
          </div>
        {{/isTournament}}

        <button type="submit" class="btn btn-primary">
          {{#id}}{{_t 'Update event'}}{{/id}}
          {{^id}}{{_t 'Create event'}}{{/id}}
        </button>
      </form>
      <hr/>
    </div>
  </div>
{{/critical}}
