{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<h3>{{_t 'Manage owned events'}}</h3>

<script type="text/javascript">
    function confirmClose(id, title) {
        return confirm(
            "{{_p "Really finish event #id (#title)? You won't be able to add games after event is finished."}}"
                .replace('#id', id)
                .replace('#title', title)
        );
    }
</script>

<style>
    .event-row {
        padding: 6px 0;
    }
    .event-row:nth-of-type(even) {
        background-color: rgb(238, 238, 238);
    }
</style>

<div class="container">
    <div class="form-inline">
        <a class='form-control btn btn-secondary m-1' href='/cp/newClubEvent'>{{_t 'New club rating'}}</a>
        <a class='form-control btn btn-secondary m-1' href='/cp/newTournamentEvent'>{{_t 'New tournament'}}</a>
        <a class='form-control btn btn-secondary m-1' href='/cp/newOnlineEvent'>{{_t 'New online tournament'}}</a>
        <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="row" style="font-weight: bold">
        <div class="col-6">{{_t 'Event'}}</div>
        <div class="col-6">{{_t 'Controls'}}</div>
    </div>

    <hr/>

    {{#events}}
        <div class="row event-row">
            <div class="col-6">
                {{#a href='/' id='{id}'}}{{title}}{{/a}}
                <div>{{description}}</div>
                <div>{{type}}</div>
            </div>
            <div class="col-6 form-inline">
                {{#finished}}<b class="badge badge-danger">{{_t 'Finished'}}</b>{{/finished}}
                {{^finished}}
                    <a href="/cp/editEvent/{{id}}" class="form-control m-1 btn btn-info">
                        {{_t 'Edit'}}
                    </a>
                    {{#isSuperadmin}}
                    <a href="/cp/editEventAdmins/{{id}}" class="form-control m-1 btn btn-warning">
                        {{_t 'Privileges'}}
                    </a>
                    {{/isSuperadmin}}
                    <a href="/cp/finishEvent/{{id}}" class="form-control m-1 btn btn-danger"
                       onclick="return confirmClose({{id}}, '{{title}}')">
                        {{_t 'Finish'}}
                    </a>
                {{/finished}}
            </div>
        </div>
    {{/events}}
</div>
