{{#games}}
    <hr />
    <div class="row mobile-flex-tr">
        <div class="col-5 mobile-flex-td container">
            {{#a href='/game/{hash}/'}}{{endDate}}{{/a}}
            <hr />
            {{#players}}
                <div class="row" style="padding: 6px 0">
                    <div class="col-1">{{wind}}</div>
                    <div class="col-5"><b>{{#a href='/user/{id}/'}}{{display_name}}{{/a}}</b>
                        <div>(azazatenhou)</div>
                      {{#if isOnlineTournament}}<div>{{tenhou_id}}</div>{{/if}}
                    </div>
                    <div class="col-5 mobile-flex-player-points">
                        <div class='badge badge-{{label}}'>{{rating_delta}}</div>
                        <div>{{score}}</div>
                    </div>
                </div>
            {{/players}}
            <hr />
        </div>
        <div class="col-7 mobile-flex-td">
            <ul>
                {{#replayLink}}
                    <li><a href='{{replayLink}}' class="replay-link" target='_blank'>{{_t 'View replay online'}}</a></li>
                {{/replayLink}}
                <li>{{{_p 'Best hand: <b>%s</b> - %s' bestHandPlayers bestHandCost}}}</li>
                <li>{{_p 'Ron hands: %d' ronWins}}</li>
                <li>{{_p 'Tsumo hands: %d' tsumoWins}}</li>
                <li>{{_p 'Drawn rounds: %d' draws}}</li>
                {{#chombo}}
                    <li>{{_p 'Chombo penalties: %s' chombo}}</li>
                {{/chombo}}
                {{#showPenalties}}
                    <li>
                        {{_t 'Additional penalties:'}}
                        <ul>
                            {{#penalties}}
                                <li>{{_p '%s - %d points (%s)' who amount reason}}</li>
                            {{/penalties}}
                        </ul>
                    </li>
                {{/showPenalties}}
                <li>{{_t 'Full game log:'}}</li>
                <div class='fullLog'>
                    {{#logItems}}
                        <div>
                            {{> partials/GameLogItem}}
                        </div>
                    {{/logItems}}
                </div>
            </ul>
        </div>
    </div>
{{/games}}
