{{roundWind}}{{roundIndex}}:
{{#roundTypeRon}}
    {{#paoPlayerName}}
        {{{_p '<b>%s</b> - %s (<b>%s</b>, pao: <b>%s</b>), yakuman!'
              winnerName yakuList loserName paoPlayerName}}}
    {{/paoPlayerName}}
    {{^paoPlayerName}}
        {{#yakuman}}
            {{{_p '<b>%s</b> - %s (<b>%s</b>), yakuman!' winnerName yakuList loserName}}}
        {{/yakuman}}
        {{^yakuman}}
            {{#doras}}
                {{#fu}}
                    {{{_p '<b>%s</b> - %s, dora %d (<b>%s</b>), %d han, %d fu.'
                          winnerName yakuList doras loserName han fu}}}
                {{/fu}}
                {{^fu}}
                    {{{_p '<b>%s</b> - %s, dora %d (<b>%s</b>), %s han.'
                          winnerName yakuList doras loserName han}}}
                {{/fu}}
            {{/doras}}
            {{^doras}}
                {{#fu}}
                    {{{_p '<b>%s</b> - %s (<b>%s</b>), %d han, %d fu.'
                          winnerName yakuList loserName han fu}}}
                {{/fu}}
                {{^fu}}
                    {{{_p '<b>%s</b> - %s (<b>%s</b>), %d han.'
                          winnerName yakuList loserName han}}}
                {{/fu}}
            {{/doras}}
        {{/yakuman}}
    {{/paoPlayerName}}
    {{#riichiPlayers}}
        {{_p 'Riichi bets: %s' riichiPlayers}}
    {{/riichiPlayers}}
{{/roundTypeRon}}

{{#roundTypeMultiRon}}
    {{#doubleRon}}
        {{_t 'Double ron:'}}
    {{/doubleRon}}
    {{#tripleRon}}
        {{_t 'Triple ron:'}}
    {{/tripleRon}}
    {{#multiRonWins}}
        <div>
            {{#paoPlayerName}}
                {{{_p '<b>%s</b> - %s (<b>%s</b>, pao: <b>%s</b>), yakuman!'
                      winnerName yakuList loserName paoPlayerName}}}
            {{/paoPlayerName}}
            {{^paoPlayerName}}
                {{#yakuman}}
                    {{{_p '<b>%s</b> - %s (<b>%s</b>), yakuman!' winnerName yakuList loserName}}}
                {{/yakuman}}
                {{^yakuman}}
                    {{#doras}}
                        {{#fu}}
                            {{{_p '<b>%s</b> - %s, dora %d (<b>%s</b>), %d han, %d fu.'
                                  winnerName yakuList doras loserName han fu}}}
                        {{/fu}}
                        {{^fu}}
                            {{{_p '<b>%s</b> - %s, dora %d (<b>%s</b>), %s han.'
                                  winnerName yakuList doras loserName han}}}
                        {{/fu}}
                    {{/doras}}
                    {{^doras}}
                        {{#fu}}
                            {{{_p '<b>%s</b> - %s (<b>%s</b>), %d han, %d fu.'
                                  winnerName yakuList loserName han fu}}}
                        {{/fu}}
                        {{^fu}}
                            {{{_p '<b>%s</b> - %s (<b>%s</b>), %d han.'
                                  winnerName yakuList loserName han}}}
                        {{/fu}}
                    {{/doras}}
                {{/yakuman}}
            {{/paoPlayerName}}
        </div>
    {{/multiRonWins}}
    {{#riichiPlayers}}
        {{_p 'Riichi bets: %s' riichiPlayers}}
    {{/riichiPlayers}}
{{/roundTypeMultiRon}}

{{#roundTypeTsumo}}
    {{#paoPlayerName}}
        {{{_p '<b>%s</b> - %s (tsumo, pao: <b>%s</b>), yakuman!'
              winnerName yakuList paoPlayerName}}}
    {{/paoPlayerName}}
    {{^paoPlayerName}}
        {{#yakuman}}
            {{{_p '<b>%s</b> - %s (tsumo), yakuman!'
                  winnerName yakuList}}}
        {{/yakuman}}
        {{^yakuman}}
            {{#doras}}
                {{#fu}}
                    {{{_p '<b>%s</b> - %s, dora %d (tsumo), %d han, %d fu.'
                          winnerName yakuList doras han fu}}}
                {{/fu}}
                {{^fu}}
                    {{{_p '<b>%s</b> - %s, dora %d (tsumo), %d han.'
                          winnerName yakuList doras han}}}
                {{/fu}}
            {{/doras}}
            {{^doras}}
                {{#fu}}
                    {{{_p '<b>%s</b> - %s (tsumo), %d han, %d fu.'
                          winnerName yakuList han fu}}}
                {{/fu}}
                {{^fu}}
                    {{{_p '<b>%s</b> - %s (tsumo), %d han.'
                          winnerName yakuList han}}}
                {{/fu}}
            {{/doras}}
        {{/yakuman}}
    {{/paoPlayerName}}
    {{#riichiPlayers}}
        {{_p 'Riichi bets: %s' riichiPlayers}}
    {{/riichiPlayers}}
{{/roundTypeTsumo}}

{{#roundTypeDraw}}
    {{#tempaiPlayers}}
        {{_p 'Exhaustive draw (tenpai: %s).' tempaiPlayers}}
    {{/tempaiPlayers}}
    {{^tempaiPlayers}}
        {{_t 'Exhaustive draw (everybody noten).'}}
    {{/tempaiPlayers}}
    {{#riichiPlayers}}
        {{_p 'Riichi bets: %s' riichiPlayers}}
    {{/riichiPlayers}}
{{/roundTypeDraw}}

{{#roundTypeAbort}}
    {{_t 'Abortive draw.'}}
    {{#riichiPlayers}}
        {{_p 'Riichi bets: %s' riichiPlayers}}
    {{/riichiPlayers}}
{{/roundTypeAbort}}

{{#roundTypeChombo}}
    {{_p 'Chombo: %s.' loserName}}
{{/roundTypeChombo}}