<div class="lang-icon">
{{#if i18n}}
    <svg viewBox="0 0 64 64" width="{{width}}px" style="{{style}}">
        <path d="M36,21H7c-2.2,0-4,1.8-4,4v18c0,2.2,1.8,4,4,4h4v6l8-6h13.3c2.2,0,4.5-2.3,4.5-4.5" fill="#3B97D3"/>
        <path d="M26,35V17c0-2.2,1.8-4,4-4h27c2.2,0,4,1.8,4,4v18c0,2.2-1.8,4-4,4h-5v6l-8.7-6H30C27.8,39,26,37.2,26,35z" fill="#FFD766"/>
        <path d="M26,35V17c0-2.2,1.8-4,4-4h27c2.2,0,4,1.8,4,4v18c0,2.2-1.8,4-4,4h-5v6l-8.7-6H30C27.8,39,26,37.2,26,35z" fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <path d="M22,21H7c-2.2,0-4,1.8-4,4v18c0,2.2,1.8,4,4,4h4v6l8-6h13.3c2.2,0,4.5-2.3,4.5-4.5" fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <path d="M34,22h8.1c0,0-2.5,6.5-7.8,8" fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <polyline fill="none" points="38,34 38,28.2 41.5,29.2" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <line fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" x1="38" x2="38" y1="22" y2="19"/>
        <rect fill="none" height="6" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" width="8" x="45" y="22"/>
        <line fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" x1="45" x2="53" y1="25" y2="25"/>
        <line fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" x1="46" x2="52" y1="32" y2="32"/>
        <line fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" x1="44.6" x2="46.7" y1="19" y2="22"/>
        <polyline fill="none" points="48,19 49,22 49,34" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <line fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" x1="53" x2="51.3" y1="19" y2="22"/>
        <polyline fill="none" points="9.9,38.1 12.3,30 14.7,38.1" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <line fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" x1="10.6" x2="13.9" y1="35.7" y2="35.7"/>
        <path d="M18,38v-8c0,0,1.4,0,2,0s1.9,0.1,1.9,1.3S21.1,33,20.1,33c-1,0-2.1,0-2.1,0h2.4c0,0,2.4-0.1,2.4,2.7c0,2.1-1,2.3-2.4,2.3  C19,38,18,38,18,38z" fill="none" stroke="#2C3E50" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
    </svg>
{{/if}}
{{#if ru}}
    <svg style="enable-background:new 0 0 512 512; width: {{width}}px" version="1.1" viewBox="0 0 512 512">
        <rect height="298.7" width="512" y="106.7" fill="#FFF"/>
        <rect height="199.1" width="512" y="206.2" fill="#594BB4"/>
        <rect height="99.5" width="512" y="305.8" fill="#C42127"/>
    </svg>
    <span>ru</span>
{{/if}}
{{#if en}}
    <svg style="enable-background:new 0 0 512 512; width: {{width}}px" viewBox="0 0 512 512">
        <rect height="298.7" width="512" y="106.7" fill="#FFF"/>
        <polygon points="342.8,214.7 512,119.9 512,106.7 500.3,106.7 307.4,214.7" fill="#BD0034"/>
        <polygon points="334.8,303.4 512,402.5 512,382.7 370.2,303.4" fill="#BD0034"/>
        <polygon points="0,129.4 151.5,214.7 187,214.7 0,109.5" fill="#BD0034"/>
        <polygon points="178.9,303.4 0,403.6 0,405.4 32.3,405.4 214.4,303.4" fill="#BD0034"/>
        <polygon points="477,106.7 297.7,106.7 297.7,207.1" fill="#1A237B"/>
        <polygon points="218.5,106.7 40,106.7 218.5,207.1" fill="#1A237B"/>
        <polygon points="512,214.7 512,146.1 390.4,214.7" fill="#1A237B"/>
        <polygon points="512,371.1 512,303.4 390.4,303.4" fill="#1A237B"/>
        <polygon points="50.1,405.4 218.5,405.4 218.5,310.9" fill="#1A237B"/>
        <polygon points="297.7,405.4 466.6,405.4 297.7,310.9" fill="#1A237B"/>
        <polygon points="0,303.4 0,374.2 125.8,303.4" fill="#1A237B"/>
        <polygon points="0,214.7 125.8,214.7 0,143.7" fill="#1A237B"/>
        <polygon points="234.4,106.7 234.4,232.4 0,232.4 0,285.6 234.4,285.6 234.4,405.4 281.9,405.4 281.9,285.6 512,285.6 512,232.4 281.9,232.4 281.9,106.7" fill="#BD0034"/>
    </svg>
    <span>en</span>
{{/if}}
{{#if de}}
    <svg style="enable-background:new 0 0 512 512; width: {{width}}px" version="1.1" viewBox="0 0 512 512">
        <rect height="298.7" width="512" y="106.7" fill="#000"/>
        <rect height="199.1" width="512" y="206.2" fill="#C42127"/>
        <rect height="99.5" width="512" y="305.8" fill="#D4D44B"/>
    </svg>
    <span>de</span>
{{/if}}
{{#if ja}}
    <svg style="enable-background:new 0 0 512 512; width: {{width}}px" version="1.1" viewBox="0 0 512 512">
        <rect height="298.7" width="512" y="106.7" fill="#FFF"/>
        <path d="M256,166.4c49.5,0,89.6,40.1,89.6,89.6c0,49.5-40.1,89.6-89.6,89.6c-49.5,0-89.6-40.1-89.6-89.6 C166.4,206.5,206.5,166.4,256,166.4" fill="#AD1F23"/>
    </svg>
    <span>ja</span>
{{/if}}
</div>