<div class="row">
  <div class="col-6">
    {{_t "Please enter your e-mail address and password."}}
    <form action="/profile/login" method="post" class="well">
      <hr/>
      <div class="form-group">
        <label for="email">{{_t 'Your e-mail address'}}</label>
        <input type="text" class="form-control{{#error_email}} is-invalid{{/error_email}}" id="email" name="email"
               value="{{email}}">
        {{#error_email}}
          <div class="invalid-feedback">{{error_email}}</div>
        {{/error_email}}
      </div>
      <div class="form-group">
        <label for="password">{{_t 'Your password'}}</label>
        <input type="password" class="form-control{{#error_password}} is-invalid{{/error_password}}" id="password"
               name="password">
        {{#error_password}}
          <div class="invalid-feedback">{{error_password}}</div>
        {{/error_password}}
      </div>
      <button type="submit" class="btn btn-primary">{{_t 'Sign in'}}</button>
    </form>
  </div>
</div>
