<div class="mobile-games-list">
    {{#games}}
        <div class="playdate">{{#a href='/game/{hash}/'}}{{endDate}}{{/a}}</div>
        <div class="results" onclick="mobileGameToggleDetails(this)">
            {{#players}}
                <div class="player-item">
                    <div class="username">{{wind}} <strong>{{display_name}}</strong></div>
                    <div class="score">{{score}} <span class='badge {{label}}'>{{rating_delta}}</span></div>
                </div>
            {{/players}}
        </div><div class="details">
            <hr />
            <ul>
                {{#replayLink}}
                    <li><a href='{{replayLink}}' class="replay-link" target='_blank'>{{_t 'View replay online'}}</a></li>
                {{/replayLink}}
                <li>{{_p 'Ron hands: %d' ronWins}}</li>
                <li>{{_p 'Tsumo hands: %d' tsumoWins}}</li>
                <li>{{_p 'Drawn rounds: %d' draws}}</li>
                {{#chombo}}
                    <li>{{_p 'Chombo penalties: %s' chombo}}</li>
                {{/chombo}}
                {{#showPenalties}}
                    <li>
                        {{_t 'Additional penalties:'}}
                        <ul>
                            {{#penalties}}
                                <li>{{_p '%s - %d points (%s)' who amount reason}}</li>
                            {{/penalties}}
                        </ul>
                    </li>
                {{/showPenalties}}
            </ul>
            <div class='fullLog'>
                {{#logItems}}
                    <div>
                        {{> partials/GameLogItem}}
                    </div>
                {{/logItems}}
            </div>
        </div>
    {{/games}}
</div>

{{#singleGamePage}}
    <script>
        // automatically expand game results if we are on the signle game page from a mobile device
        $(document).ready(function () {
            mobileGameToggleDetails($('.results').get(0));
        });
    </script>
{{/singleGamePage}}
