<div class="row">
    <div class="col-12">
        <h3>{{_t 'Send notification to players'}}</h3>
        {{#form action='{targetAction}' method='post'}}
            <div class="form-group">
                <label for="notification_en">{{_t 'Language:'}} {{> partials/LangIcon en=1 width=24}}</label>
                <input type="text" class="form-control" id="notification_en" name="notification_en">
            </div>
            <div class="form-group">
                <label for="notification_ru">{{_t 'Language:'}} {{> partials/LangIcon ru=1 width=24}}</label>
                <input type="text" class="form-control" id="notification_ru" name="notification_ru">
            </div>
            <div class="form-group">
                <label for="notification_de">{{_t 'Language:'}} {{> partials/LangIcon de=1 width=24}}</label>
                <input type="text" class="form-control" id="notification_de" name="notification_de">
            </div>
            <input type="submit" class="btn form-control btn-danger" value="{{_t 'Send notification'}}">
        {{/form}}
        <hr/>
    </div>
</div>
