<script>
    function cancelRoundConfirmation(roundInfo) {
        return window.confirm('{{_t 'Подтвердите отмену раздачи: '}}' + roundInfo);
    }
</script>

<h3>{{_t 'Состояние столов:'}}</h3>
<table class="table table-bordered">
    {{#tables}}
        <tr>
            <td>#{{table_index}}</td>
            {{#players}}
                <td>{{display_name}}</td>
            {{/players}}
            <td><span class="badge {{#finished}}badge-success{{/finished}}{{#prefinished}}badge-warning{{/prefinished}}">{{status}}</span></td>
        </tr>
        <tr>
            <td colspan="6" style="font-weight: bold; font-size: 16px">
                {{_t 'Предыдущая раздача:'}}
                {{^last_round}}{{_t '(ни одной раздачи не сыграно)'}}{{/last_round}}
                {{#last_round}}
                    {{last_round}}
                    {{#a
                            href="/tourn/dropLastRound/{hash}/"
                            class="btn btn-large btn-danger actionButton"
                            onclick="return cancelRoundConfirmation('{round}')"
                    }}{{_t 'Отменить последнюю внесенную раздачу'}}{{/a}}
                {{/last_round}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-size: 16px">
                {{_t 'Штрафы:'}}
            </td>
            <td colspan="5">
                <ul>
                    {{#penalties}}
                        <li>{{_p '%s - штраф %s очков. Причина: %s' who amount reason}}</li>
                    {{/penalties}}
                </ul>
            </td>
        </tr>
    {{/tables}}
</table>
