<script>
    function cancelRoundConfirmation(roundInfo) {
        return window.confirm('{{_t 'Confirm round cancellation: '}}' + roundInfo);
    }
</script>

<h3>{{_t 'Tables state:'}}</h3>
<table class="table table-bordered">
    {{#tables}}
        <tr>
            <td>#{{table_index}}</td>
            {{#players}}
                <td>{{display_name}}{{#local_id}} (# {{local_id}}){{/local_id}}</td>
            {{/players}}
            <td><span class="badge {{#finished}}badge-success{{/finished}}{{#prefinished}}badge-warning{{/prefinished}}">{{status}}</span></td>
        </tr>
        <tr>
            <td colspan="6" style="font-weight: bold; font-size: 16px">
                {{_t 'Last played round:'}}
                {{^last_round}}{{_t '(no rounds are played yet)'}}{{/last_round}}
                {{#last_round}}
                    {{last_round}}
                    {{#a
                            href="/tourn/dropLastRound/{hash}/"
                            class="btn btn-large btn-danger actionButton"
                            onclick="return cancelRoundConfirmation('{round}')"
                    }}{{_t 'Cancel last played round'}}{{/a}}
                {{/last_round}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-size: 16px">
                {{_t 'Penalties:'}}
            </td>
            <td colspan="5">
                <ul>
                    {{#penalties}}
                        <li>{{_p '%s - %s points of penalty. Reason: %s' who amount reason}}</li>
                    {{/penalties}}
                </ul>
            </td>
        </tr>
    {{/tables}}
</table>
